div.page-content
	div.project-block
		div.project-block--content
			div.tabs__content.c-tabs
				div.tabs__item.active.c-tabs-item
					div.swipe.swipe_popup(style="visibility: visible;")
						div.swipe-wrap
							div
								img(src="images/content/1.jpg" alt="")
					div.buttons-slider
						a.c-slide_prev_p.slider_prev
							div.iconmobile-a41
						a.c-slide_next_p.slider_next
							div.iconmobile-a42