.clear
<!-- BEGIN footer -->
footer.footer
	.description
		.description__content
			.description__title
				| Элитная загородная недвижимость
			.description__text.clearfix
				p
					| Хотите купить элитную загородную недвижимость недалеко от Москвы? Тогда обратитесь к специалистам «Метриум Групп». Мы поможем выбрать жилье, соответствующее самым взыскательным требованиям.
				p
					| В последнее время все больше людей мечтают о собственном доме, расположенном вдали от шумного города. Ведь в таком случае можно каждый день наслаждаться живописными видами, чистым воздухом и тишиной. В Московской области загородные дома представлены в большом ассортименте. Особое внимание стоит уделить элитному жилью. Оно является признаком высокого статуса и успешности.
				p
					| Элитная загородная недвижимость, как правило, выполнена по эксклюзивным проектам архитекторов и дизайнеров.
					| При этом используются материалы наивысшего качества. Она отличается большой площадью, удачным расположением
					| и так далее. У владельцев таких домов есть собственные приусадебные участки. Здесь можно создать зону отдыха с беседкой или бассейном, спортивную площадку, небольшой сад или огород.
					| Также можно совместить сразу несколько вариантов, если позволяет размер участка.
				p
					| Продажа элитной загородной недвижимости в поселках Подмосковья. Чтобы купить такую недвижимость, необходимо выбрать подходящий объект, осмотреть его, договориться с продавцом, проверить документацию и оформить сделку. Для этого нужно много свободного времени. Хотите ускорить данную процедуру?
					|  Тогда обратитесь к профессионалам. Лучшие специалисты работают в компании «Метриум Групп».
				p
					.description__title
						| Наши гарантии:
					.description__garanty-list.clearfix
						ul.description__text-left.description__text-left--list
							li
								span
									| Безупречное качество работ
							li
								span
									| Индивидуальный подход
							li
								span
									| Ответственность по взятым обязательствам
						ul.description__text-right.description__text-right--list
							li
								span
									| Оперативность работ
									| и соблюдение установленных сроков
							li
								span
									| Конфиденциальность информации,
									| полученной от клиентов
				p
					| Все данные об объектах носят исключительно информационный характер и ни в коем случае не являются
					| публичной офертой. Если нужна подробная информация о домах, оставьте заявку на сайте или позвоните
					| по телефону 8 (495) 104-87-44.
				.arrow-top.c-arrow-top
					span.icon-arrow-up2
	.footer__direction
		.footer__direction-content
			.footer__direction-title
				|Направления
			.footer__direction-items
				a.footer__direction-item(href="#" title="")
					|Алтуфьевское
				a.footer__direction-item(href="#" title="")
					|Боровское
				a.footer__direction-item(href="#" title="")
					|Волоколамское
				a.footer__direction-item(href="#" title="")
					|Дмитровское
				a.footer__direction-item(href="#" title="")
					|Алтуфьевское
				a.footer__direction-item(href="#" title="")
					|Боровское
				a.footer__direction-item(href="#" title="")
					|Волоколамское
				a.footer__direction-item(href="#" title="")
					|Дмитровское
				a.footer__direction-item(href="#" title="")
					|Боровское
				a.footer__direction-item(href="#" title="")
					|Волоколамское
				a.footer__direction-item(href="#" title="")
					|Боровское
				a.footer__direction-item(href="#" title="")
					| Алтуфьевское
				a.footer__direction-item(href="#" title="")
					| Боровское
				a.footer__direction-item(href="#" title="")
					| Волоколамское
				a.footer__direction-item(href="#" title="")
					| Дмитровское
				a.footer__direction-item(href="#" title="")
					| Алтуфьевское
				a.footer__direction-item(href="#" title="")
					| Боровское
				a.footer__direction-item(href="#" title="")
					| Волоколамское
				a.footer__direction-item(href="#" title="")
					| Дмитровское
				a.footer__direction-item(href="#" title="")
					| Боровское
				a.footer__direction-item(href="#" title="")
					| Волоколамское
				a.footer__direction-item(href="#" title="")
					| Боровское
	.footer__menu
		.footer__menu-content
			.footer__menu-logo
				img(src="../images/content/footer-logo.png")
			.footer__menu-links
				a.footer__menu-link(href="" title="")
					| Новостройки
				a.footer__menu-link(href="" title="")
					| КОТТЕДЖНЫЕ ПОСЕЛКИ
				a.footer__menu-link(href="" title="")
					| ИПОТЕКА
				a.footer__menu-link(href="" title="")
					| TRADE-IN
				a.footer__menu-link(href="" title="")
					| АНАЛИТИКА И КОНСАЛТИНГ
				a.footer__menu-link(href="" title="")
					| ОРГАНИЗАЦИЯ ПРОДАЖ
				a.footer__menu-link(href="" title="")
					| ИНВЕСТИЦИИ
				a.footer__menu-link(href="" title="")
					| О КОМПАНИИ
	.footer__callback-info
		.footer__callback-info-content
			.footer__subscription
				.footer__subscription-text
					|ЕЖЕНЕДЕЛЬНАЯ РАССЫЛКА АКТУАЛЬНЫХ ВЫГОДНЫХ ПРЕДЛОЖЕНИЙ
				form.footer__subscription-form.c-subscr-form
					input.input-form(type="text" name="name" placeholder="Имя*")
					input.input-form(type="email" name="name" placeholder="E-mail*")
					input.btn-form.c-send-form(type="submit" name="sendForm" value="Хочу")
				.footer__subscription-text--small
					|При полном или частичном использовании материалов ссылка на www.metrium.ru обязательна.
			.footer__social-info.clearfix
				.footer__social-content.clearfix
					.footer__email
						.email-bl
							|Электронная почта:
						a.email-link(href="" title="")
							|info@metrium.ru
						a.map-link(href="" title="")
							|Карта сайта
					.footer__social-link
						a.social-link.icon-social-fb(href="" title="")
						a.social-link.icon-social-vk(href="" title="")
						a.social-link.icon-social-instagram(href="" title="")
						a.social-link.icon-social-twitter(href="" title="")
						a.social-link.icon-social-ok(href="" title="")
				.footer__callback.clearfix
					.footer__phone-number
						|+7 (495) 104-87-44
					input.footer__callback-btn.btn-form(type="button" name="name" value="Заказать звонок")
					.footer__subscription-text--small
						|© 2017 Metrium Group. All rights reserved.


.preloader.c-preloader

script(src="./js/plugins.js")
script(src="./js/script.js")
script(src="./js/modal.js")