<!-- BEGIN header -->
.header-panel.header-panel--alternate.c-top-panel-alternate
header.header.clearfix.c-top-panel
	.container
		.header-panel
			a.header-panel__menu.c-popup-open(href="#" title="")
				span.header-panel__icon
					.icon-menu
				span.header-panel__text
					|меню
				<!-- popup -->
			.c-popup.popup.clearfix
				.popup__overlay
				.popup__inner
					.popup__content.c-popup-content
						a.popup__close.c-popup-close(href="#" title="")
							span.icon-close
							.popup__close-text
								| Меню
						.popup__elit-menu
							a.popup__big-title(href="#" title="")
								| Элитная загородная недвижимость
							input.popup__big-btn.btn-form(type="button" name="name" value="оцени свой дом online")
							a.popup__big-title(href="#" title="")
								| Элитная городская недвижимость
							input.popup__big-btn.btn-form(type="button" name="name" value="оцени свою квартиру online")
						hr
						.popup__new-menu
							ul.popup__new-menu-list
								li
									a.popup__new-menu-item(href="#" title="")
										| Новостройки Москвы
								li
									a.popup__new-menu-item(href="#" title="")
										| Новостройки Подмосковья
								li
									a.popup__new-menu-item(href="#" title="")
										| Новостройки новой москвы
								li
									a.popup__new-menu-item(href="#" title="")
										| Новостройки Санкт-Петербурга
						hr
						.popup__main-menu
							ul.popup__main-menu-list
								li
									a.popup__main-menu-item(href="#" title="")
										| девелоперам
								li
									a.popup__main-menu-item(href="#" title="")
										| о компании
								li
									a.popup__main-menu-item(href="#" title="")
										| пресс-служба
								li
									a.popup__main-menu-item(href="#" title="")
										| ипотека
								li
									a.popup__main-menu-item(href="#" title="")
										| Trade-In
								li
									a.popup__main-menu-item(href="#" title="")
										| Аналитика и консалтинг
								li
									a.popup__main-menu-item(href="#" title="")
										| Организация продаж
								li
									a.popup__main-menu-item(href="#" title="")
										| Инвестиции
						hr
						.popup__social-icon
							a.popup__social-icon-item(href="#" title="")
								span.icon-facebook
							a.popup__social-icon-item(href="#" title="")
								span.icon-vk
							a.popup__social-icon-item(href="#" title="")
								span.icon-instagram
							a.popup__social-icon-item(href="#" title="")
								span.icon-twitter
							a.popup__social-icon-item(href="#" title="")
								span.icon-odnoklassniki
			a.header-panel__logo(href="#" title="")
				.header-panel__logo-inner
					img(src="/images/content/logo-elit-1920.png" alt="")
			.header-panel__info.clearfix
				h1.header-panel__info-title
					|Элитная загородная недвижимость
				.header-panel__info-count
					span.count-text
						|Всего
					span
						| предложений:
					span.count
						|2942
			.header-panel__left-info
				.header-panel__phone
					|8 (499) 270-20-20
				a.header-panel__personal(href="#" title="")
					span.header-panel__personal-text
						|Личный кабинет
					span.icon.icon-user
				a.header-panel__choice(href="#" title="")
					span.header-panel__personal-text
						|Мой выбор
					span.icon.icon-heart
					span.header-panel__personal-text
						|12

<!-- END header -->
