meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(content="width=device-width" name="viewport")
meta(name="description" content="")
title= title
link(rel="stylesheet" href="css/style.css")

script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" defer)
script(src="./js/jquery-1.11.3.min.js")
