html, body {
	height: 100%;
	background-color: #2d2e32;
	padding: 0;
	margin: 0;
	font-family: 'Circe';
}

* {
	box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.pagewrap{
	min-height: 100%;
	padding-bottom: calc( @footer-height + 60px );
	margin-bottom: -@footer-height;
}
.content {
	position: relative;
	display: block;
	margin: 30px auto;
	max-width: 1800px;
	width: 93.75%;

}

.arrow-top {
	width: 46px;
	height: 46px;
	background-color: #fff;
	border: 2px solid #155988;
	border-radius: 2px;
	position: absolute;
	z-index: 9;
	font-size: 25px;
	right: 0;
	top: 100%;
	color: #155988;
	padding: 7px;
	box-sizing: border-box;
	cursor: pointer;
}

.input-form {
	width: 255px;
	height: 40px;
	background-color: white;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	font-weight: 500;
	padding: 10px 5px;
	box-sizing: border-box;
	outline: none;
}
::-webkit-input-placeholder {color:#000;}
::-moz-placeholder          {color:#000;}
:-moz-placeholder           {color:#000;}
:-ms-input-placeholder      {color:#000;}

.btn-form {
	width: 84px;
	height: 40px;
	background-color: #60b1a1;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 8px;
	text-transform: uppercase;
	border: 1px solid #60b1a1;
	cursor: pointer;
	outline: none;
	&:hover {
		background-color: #218c84;
	}
}

.header {
	position: relative;
	z-index: 2;
}

.header-panel {
	height: 50px;
	background-color: #f0f3f4;
	box-sizing: border-box;
	.count-text {
		padding-right: 3px;
	}
	&--alternate {
	 	height: 50px;
		display: none;
	}
	&__menu {
		padding: 10px;
		box-sizing: border-box;
		display: inline-block;
		text-transform: uppercase;
		color: #3a3d46;
		font-size: 15px;
		font-weight: 400;
		box-sizing: border-box;
		vertical-align: top;
	}
	&__logo {
		width: 190px;
		height: 100%;
		display: inline-block;
		box-sizing: border-box;
		z-index: 10;
		position: relative;
	}
	&__logo-inner {
		width: 100%;
		display: inline-block;
		height: 90px;
		position: absolute;
		background-color: #3a3d46;
		top: 0;
		left: 0;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__info {
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
	&__info-title {
		width: auto;
		display: inline-block;
		color: #009d7e;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 17px;
		box-sizing: border-box;
		line-height: 17px;
		margin: 0;
	}
	&__info-count {
		width: auto;
		display: inline-block;
		color: #8f8f8f;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 10px;
		.count {
			font-size: 15px;
			padding-left: 5px;
		}
	}
	&__icon {
		display: inline-block;
		vertical-align: middle;
		font-size: 30px;
		box-sizing: border-box;
	}
	&__text {
		display: inline-block;
		padding: 0 7px 0 17px;
		vertical-align: middle;
		box-sizing: border-box;
	}
	&__left-info {
		padding: 10px;
		display: inline-block;
		vertical-align: top;
		float: right;
	}
	&__phone {
		color: #8f8f8f;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: top;
		margin-right: 30px;
		a {
			color: #8f8f8f;
			font-size: 20px;
			font-weight: 400;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	&__personal {
		display: inline-block;
		color: #a0a2a6;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 10px;
		margin-right: 30px;
		vertical-align: middle;
		padding: 4px 0;
	}
	&__choice {
		display: inline-block;
		color: #a0a2a6;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 10px;
		margin-right: 30px;
		vertical-align: middle;
		text-decoration: none;
		padding: 4px 0;
		.icon-heart {
			color: #00c29c;
		}
	}
	.icon {
		font-size: 15px;
		padding: 5px;
	}
	&__personal-text {
		display: inline-block;
		padding: 5px;
		vertical-align: text-bottom;
	}
}

.videos-main {
	height: 840px;
	width: 100%;
	display: block;
	position: relative;
	margin-top: 65px;
	box-sizing: border-box;
	&__container {
		display: flex;
		height: 100%;
		width: 100%;
	}
	&__item {
		width: 25%;
		display: inline-block;
		overflow: hidden;
		padding: 0;
		margin: 0;
		position: relative;
		transition: width 0.5s ease-out;
		&:hover {
			width: 50%;
			transition: width 0.5s ease-out;
		}
	}
	&__video {
		width: auto;
		min-height: 840px;
		background-size: cover;
		padding: 0;
		margin: 0;

	}
	&__images {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__hide-panel {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 65px 60px;
		box-sizing: border-box;
		background-image: linear-gradient(to bottom, rgba(58, 61, 70,0.9), rgba(58, 61, 70,0.7), rgba(58, 61, 70,0),
		rgba(58, 61, 70,0), rgba(58, 61, 70,0), rgba(58, 61, 70,0), rgba(58, 61, 70,0.7),
		rgba(58, 61, 70,0.9),rgba(58, 61, 70,0.9));
	}
	&__title-item {
		color: #f0f3f4;
		font-size: 25px;
		font-weight: 400;
		text-transform: uppercase;
	}
	&__content {
		position: absolute;
		bottom: 0;
	}
	&__panel-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__play-btn {
		height: 65px;
		width: 65px;
		border-radius: 100%;
		overflow: hidden;
		border: 2px solid #ddd;
		position: relative;
		margin-bottom: 50px;
		cursor: pointer;
		box-sizing: border-box;
		z-index: 1;
		&:after {
			display: inline-block;
			content: '';
			border: 12px solid transparent;
			border-left: 12px solid #fff;
			position: absolute;
			top: 33%;
			left: 45%;
		}
		&:hover {
			border: 2px solid #009d7e;
			&:after {
				border-left: 12px solid #009d7e;
			}
		}
	}
	&__descr {
		color: #f0f3f4;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		text-transform: uppercase;
		max-width: 285px;
		max-height: 47px;
		overflow: hidden;
		text-overflow: ellipsis ;
	}
	&__count-offers {
		color: #83b0b7;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		text-transform: uppercase;
		padding: 30px 0 40px 0;
		box-sizing: border-box;
	}
	&__more-btn {
		width: 112px;
		height: 31px;
		border: 1px solid white;
		color: white;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		padding: 7px 21px;
		box-sizing: border-box;
		text-decoration: none;
		&:hover {
			color: #83b0b7;
			border: 1px solid #83b0b7;
		}
	}
}

.tile {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 100px;
	&__sort {
		max-width: 1800px;
		width: 93.75%;
		margin: 0 auto;
		text-align: right;
		position: relative;
		padding-bottom: 20px;
	}
	&__sort-text {
		color: #ddd;
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		display: inline-block;
		margin-right: 10px;
	}
	&__sort-btn {
		display: inline-block;
		width: 140px;
		height: 23px;
		background-color: #009d7e;
		color: white;
		font-size: 13px;
		font-weight: 400;
		text-decoration: none;
		padding: 3px 15px;
		box-sizing: border-box;
		margin-right: 15%;
	}
	&__content {
		width: 100%;
		display: inline-block;
	}
	&__clear {
		border-top: 1px solid #626265;
		margin-top: -8px;
		width: 100%;
	}

	&__line-content {
		max-width: 1840px;
		width: 96.75%;
		margin: 0 auto;
		margin-top: 8px;
	}
	&__item-clear {
		display: none;
		border-right: 1px solid #626265;
		min-height: 565px;
		margin-top: -8px;
		&:nth-child(8n) {
			display: block;
			width: 105%;
			border-right: none;
			border-top: 1px solid #626265;
			min-height: 1px;
			margin-top: 0;
			margin-left: -61px;
		}
		&:last-child {
			display: none;
			margin-top: 6px;
		}
	}
	&__item {
		padding: 15px;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		min-width: 453px;
		min-height: 535px;

	}
	&__line-items {
		display: flex;
	}

	&__item-content {
		max-width: 423px;
		max-height: 535px;
		display: inline-block;
		position: relative;
	}
	&__item-img {
		min-width: 423px;
		min-height: 240px;
	}
	&__item-info {
		min-height: 290px;
		padding: 15px 20px;
		box-sizing: border-box;
		background-color: #fff;
	}
	&__info-content {

	}
	&__info-name {
		color: #000;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__info-address {
		color: #155988;
		font-size: 16px;
		font-weight: 400;
	}
	&__info-params {
		color: #2d2e32;
		font-weight: 400;
		font-size: 15px;
		line-height: 15px;
		margin: 30px 0 40px 0;
	}
	&__info-param {

	}
	&__info-price {

	}
	&__info-price-one {
		color: #009d7e;
		font-size: 24px;
		font-weight: 700;
	}
	&__info-price-two {
		color: #000;
		font-size: 18px;
		font-weight: 400;
	}
	&__info-id {
		color: #818282;
		font-size: 14px;
		font-weight: 400;
	}
	&__icon {
		font-size: 35px;
		color: #fff;

	}
	&__special-mark {
		width: 55px;
		height: 55px;
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: #525662;
		padding: 10px;
		box-sizing: border-box;
		z-index: 9;
		&--new-offer {
			width: 190px;
			background-color: #93b4b7;
			color: #fff;
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
		}
		&--special-offer {
			width: 190px;
			background-color: #009d7e;
			color: #fff;
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
		}
		&.active {
			.tile__icon {
				color: #009d7e;
			}
		}
	}

	&__special-text {
		display: inline-block;
		width: 134px;
		padding: 5px 15px;
		box-sizing: border-box;
	}
}

.pagination {
	margin: 40px 0 110px 0;
	&__count-result {
		display: inline-block;
		float: left;
	}
	&__pages {
		display: inline-block;
		float: right;
		text-decoration: none;
	}
	&__item {
		width: 39px;
		height: 39px;
		background-color: #fff;
		padding: 11px 0 15px 0;
		box-sizing: border-box;
		display: inline-block;
		color: #000000;
		font-size: 18px;
		font-weight: 400;
		margin: 0 5px;
		line-height: 16px;
		text-align: center;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			background-color: #60b1a1;
			color: #fff;
		}
		&.active {
			background-color: #60b1a1;
			color: #fff;
		}
		&.other {
			background-color: transparent;
			color: #fff;
		}
	}
	&__text {
		color: white;
		font-size: 16px;
		font-weight: 400;
		&--count {

		}
		&--next {
			margin-left: 35px;
		}
		&--clear {
			margin-left: 15px;
		}
	}
}
.description {
	background-color: #ffffff;
	&__content {
	    max-width: 1800px;
	    width: 93.75%;
		margin: 0 auto;
		padding: 85px 0 150px;
	}
	&__title {
		color: #000000;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
	}
	&__text {
		color: #000;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		position: relative;
	}
	&__text-left {
		display: inline-block;
		float: left;
		width: 48%;
		&--list {
			list-style: square outside;
		}
	}
	&__text-right {
		display: inline-block;
		float: right;
		width: 48%;
		&--list {
			list-style: square outside;
		}
	}
	&__garanty-list {
		li {
			color: #60b1a1;
			span {
				color: #000;
			}
		}
	}
}

.footer {
	background-color: #fff;
	&__menu-content {
		max-width: 1800px;
		width: 93.75%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	&__menu {
		width: 100%;
		height: 68px;
		background-color: #f1f1f2;
	}
	&__menu-links {
		padding: 22px 0;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;

	}
	&__menu-link {
		display: inline-block;
		width: auto;
		margin: 0 23px;
		color: #000;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__menu-logo {
		display: inline-block;
		height: auto;
		padding: 8px 0;
		img {
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__callback-info {
		width: 100%;
		display: block;
	}
	&__subscription {
		display: inline-block;
		padding: 30px 0 50px 0;
		box-sizing: border-box;

	}
	&__subscription-text {
		color: #000;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		&--small {
			color: #818282;
			font-size: 14px;
			font-weight: 400;
			line-height: 14px;
		}
	}
	&__subscription-form {
		padding: 15px 0 35px 0;
		box-sizing: border-box;
	}
	&__callback-info-content {
		max-width: 1800px;
		width: 93.75%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	&__social-info {
		display: inline-block;
		width: 45%;
		padding: 55px 0 50px 0;
		box-sizing: border-box;
	}
	&__social-content {
		display: inline-block;
		width: 60%;
	}

	&__email {
		display: inline-block;
		.email-bl, .email-link, .map-link {
			display: block;
			width: 100%;
			color: #155988;
			text-decoration: none;
		}
		.email-bl {
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: #818282;
		}
		.map-link {
			margin-top: 30px;
			text-transform: uppercase;

		}
	}
	&__social-link {
		display: inline-block;
		float: right;

		.social-link {
			display: inline-block;
			vertical-align: top;
			position: relative;
			margin-right: 5px;
			background: url(/images/content/social-icon-sprite.png) no-repeat;
			width: 30px;
			height: 34px;
		}
		.icon-social-fb {
			background-position: -116px -6px;
		}
		.icon-social-vk {
			background-position: -151px -6px;
		}
		.icon-social-instagram {
			background-position: -43px -44px;
		}
		.icon-social-twitter {
			background-position: -115px -78px;
		}
		.icon-social-ok {
			background-position: -115px -45px;
		}
	}
	&__callback {
		text-align: right;
		margin-top: -28px;
		display: inline-block;
		width: 35%;
	}
	&__phone-number {
		color: #000;
		font-size: 18px;
		font-weight: 700;
		line-height: 18px;
		a {
			color: #000;
			font-size: 18px;
			font-weight: 700;
			text-decoration: none;
		}
	}
	&__callback-btn {
		width: 174px;
		margin: 10px 0 40px 0;
	}
	&__direction {


	}
	&__direction-content {
		max-width: 1800px;
		width: 93.75%;
		margin: 0 auto;
		border-top: 2px solid rgba(159, 159, 159, 0.5);
		padding: 20px 0 50px 0;
	}
	&__direction-title {
		color: #000000;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
	}
	&__direction-item {
		color: #6bb6a7;
		font-family: Circe;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		text-decoration: underline;
		margin: 0 5px;
		display: inline-block;
	}
	&__direction-items {

	}


}
.popup {
	display: none;
	left: -99999px;
	&__inner {
		position: fixed;
		bottom: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		top: auto;
		height: 100%;
		display: inline-block;
		overflow: auto;
		z-index: 1000;
	}
	&__overlay {
		position: fixed;
		bottom: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		top: auto;
		height: 100%;
		z-index: 999;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.93);
	}
	&__close {
		font-size: 30px;
		display: inline-block;
		position: absolute;
		left: 85px;
		color: #3a3d46;
		text-decoration: none;
	}
	&__close-text {
		display: inline-block;
		color: #3a3d46;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		vertical-align: top;
		line-height: 40px;
	}
	&__content {
		position: absolute;
		background-color: #e4e4e4;
		padding: 85px 120px;
		width: 768px;
		height: auto;
		top: 0;
		left: 0;
	}
	&__big-title {
		color: #3a3d46;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 40px;
		padding-top: 40px;
		display: block;
		text-decoration: none;
	}
	&__big-btn {
		display: block;
		color: white;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		height: 42px;
		width: auto;
		background-color: #93b4b7;
		border-color: #93b4b7;
		line-height: 30px;
		margin-top: 10px;
		&:hover {
			background-color: #93b4b7;
		}
	}
	&__new-menu {

	}
	&__elit-menu {
		display: inline-block;
		margin: 40px 0;
	}

	&__new-menu-list {
		list-style: none;
		padding: 0;
	}
	&__main-menu {

	}
	&__main-menu-list {
		list-style: none;
		padding: 0;
	}
	&__new-menu-item {
		color: #000401;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 37px;
		text-decoration: none;
	}
	&__main-menu-item {
		color: #000401;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 17px;
		line-height: 28px;
		text-decoration: none;
	}
	&__social-icon {
		display: block;
		margin-top: 50px;
	}
	&__social-icon-item {
		width: 35px;
		height: 35px;
		overflow: hidden;
		border-radius: 100%;
		background-color: #a0a1a5;
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		line-height: 42px;
		color: #e4e4e4;
		font-size: 20px;
		margin: 0 3px;
		text-decoration: none;
	}
}
.filter {
	display: block;
	margin-top: 70px;
	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 50px;
		background-color: #3a3d46;
	}
	&__header-link {
		width: 25%;
		display: inline-block;
		text-align: center;
		color: #f0f3f4;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		padding: 15px 0;
		&:hover {
			background-color: #f0f3f4;
			color: #3a3d46;
		}
		&.active {
			background-color: #f0f3f4;
			color: #3a3d46;
		}
	}
	&__body {
		padding: 40px 40px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		background: url("../images/content/bg-filter.jpg") center no-repeat;
		background-size: cover;
	}
	&__column {
		width: 20%;
		display: inline-block;
	}
	&__block {
		width: 100%;
		min-height: 110px;
		&--range {
			padding: 45px 0;
		}
	}
	&__name {
		color: #ddd;
		font-size: 13px;
		font-weight: 400;
		line-height: 40px;
		text-transform: uppercase;
		.count {
			font-size: 30px;
			padding-left: 5px;
			line-height: 30px;
		}
	}
	.dropdown-content{
		top: 96%;
		position: absolute;
		height: 127px;
		overflow: hidden;
		display: none;
	}
	.dropdown-inner {
		border: 1px solid #ddd;
		border-width: 1px 1px 0 1px;
	}
	&__field {
		position: relative;
		display: inline-block;
		width: auto;
		&--dropdown {
			border-bottom: 1px solid #ddd;
		}
	}
	&__dimension {
		display: inline-block;
		width: auto;
		color: #ddd;
		font-size: 15px;
		font-weight: 400;
		span {
			vertical-align: super;
			display: inline-block;
			font-size: 10px;
		}
	}
	&__field-label {
		position: absolute;
		color: #ddd;
		font-size: 13px;
		font-weight: 400;
		line-height: 13px;
		text-transform: uppercase;
		padding: 17px 10px 10px 10px;;
		box-sizing: border-box;

	}
	#price {
		width: 243px;
	}
	.ui-widget.ui-widget-content {
		border: none;
		height: 1px;
		border-radius: 0;
	}
	.ui-slider .ui-slider-handle {
		width: 40px;
		height: 41px;
		border: 1px solid #ddd;
		background: #454744;
		border-radius: 0;
		top: -19px;
		margin-left: 0;
		outline: none;
		z-index: 1;
		cursor: pointer;
		&:hover {
			background: #fff;
		}
	}
	&__button {
		padding: 10px;
		width: 222px;
		height: 52px;
		background-color: #83b0b7;
		text-transform: uppercase;
		color: white;
		font-size: 13px;
		font-weight: 400;
		vertical-align: middle;
		display: inline-block;
		line-height: 30px;
		text-decoration: none;
		.icon {
			font-size: 30px;
			padding: 1px 10px 5px 3px;
			display: inline-block;
			vertical-align: middle;
		}
		&--map {
			background-color: #009d7e;
			box-shadow: inset -3.1px 3.9px 4px rgba(35, 31, 32, 0.3);
		}
	}
	.mCSB_scrollTools {
		position: absolute;
		top: 0;
		left: auto;
		bottom: 0;
		right: 0;
		width: 7px;
		height: 127px;
		border-left: 1px solid #ddd;
		background: transparent;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 7px;
		border: 3px solid #ddd;
		border-radius: 0;
		background-color: #ddd
	}
	.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
		background-color: #ddd;
	}
	&__map {
		width: 100%;
		height: 110px;
		position: relative;
	}
	&__map-open {
		position: absolute;
		width: 100%;
		height: 110px;
		bottom: 0;
		z-index: 1;
		background-image: linear-gradient(to top, rgba(58, 61, 70,0.9), rgba(58, 61, 70,0.7), rgba(58, 61, 70,0.6),
		rgba(58, 61, 70,0.5), rgba(58, 61, 70,0.4), rgba(58, 61, 70,0.3), rgba(58, 61, 70,0.2),
		rgba(58, 61, 70,0.1),rgba(58, 61, 70,0));
		color: white;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		line-height: 110px;
		text-decoration: none;
	}
	.input-filter {
		width: 119px;
		height: 41px;
		border: 1px solid #ddd;
		color: #83b0b7;
		padding: 10px 5px 10px 40px;
		font-size: 18px;
		font-weight: 400;
		line-height: 60px;
		text-transform: uppercase;
		background-color: transparent;
		outline: none;
		box-sizing: border-box;
		text-align: center;
		&--select {
			width: 250px;
			padding: 10px 5px;
			color: #ddd;
			font-size: 13px;
			font-weight: 400;
			line-height: 60px;
			text-transform: uppercase;
			line-height: 13px;
			outline: none;
		}
		&--dropdown-link {
			font-size: 13px;
			font-weight: 400;
			line-height: 13px;
			text-transform: uppercase;
			color: #ddd;
			width: 250px;
			min-width: 250px;
			padding: 9px 61px 9px 5px;
			position: relative;
			text-align: left;
			max-height: 41px;
			line-height: 40px;
			text-decoration: none;
			&:after {
				display: inline-block;
				content: "";
				height: 10px;
				width: 0px;
				border-top: 8px solid #fff;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				position: absolute;
				right: 10px;
				top: 15px;
			}
			&.open-link:after {
				display: inline-block;
				content: "";
				height: 10px;
				width: 0px;
				border-top: 0;
				border-bottom: 8px solid #fff;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				position: absolute;
				right: 10px;
				top: 5px;
			}
		}
		&--dropdown {
			font-size: 13px;
			font-weight: 400;
			line-height: 13px;
			text-transform: uppercase;
			color: #ddd;
			width: 250px;
			padding: 14px 5px;
			position: relative;
			text-align: left;
			&:after {
				display: inline-block;
				content: "";
				height: 10px;
				width: 0px;
				border-top: 8px solid #fff;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				position: absolute;
				right: 10px;
				top: 15px;
			}
		}
	}

}
hr {
	color: #b3c7c9;
	background-color: #b3c7c9;
	border: 0px none;
	height: 1px;
}
.no-scroll {
	overflow: hidden;
}
.open {
	display: inline-block !important;
	left: 0px;
	transition: left 0.5s ease-out;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 93.75%;
	max-width: 1800px;
}

.custom-label {
	position:relative;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
	text-transform: uppercase;
	color: #ddd;
	width: 250px;
	padding: 14px 5px;
	text-align: left;
	display: inline-block;
}
.custom-label:after {
	position:absolute;
	content:"";
	top:50%;
	margin-top: -10px;
	left: 85%;
	width: 22px;
	height: 22px;
	border: 1px solid #ddd;
}

.custom-label:before {
	display: none;
	position: absolute;
	content: "";
	top: 51%;
	margin-top: -9px;
	margin-left: 7px;
	left: 85%;
	width: 8px;
	height: 15px;
	transform: rotate(45deg);
	border-bottom: 2px solid #ddd;
	border-right: 2px solid #ddd;
	z-index: 10;
}
.custom-checkbox {
	display:none;
}
.custom-checkbox:checked + label.custom-label:before {
	display:block;
}
.open-map {
	height: 530px;
	.filter__map-open {
		&:after {
			display: inline-block;
			content: "";
			height: 10px;
			width: 0;
			border-bottom: 8px solid #fff;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			position: absolute;
			right: 42%;
			top: 36%;
		}
	}
}

.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../images/content/preloader-img.gif") center no-repeat rgba(58, 61, 70, 0.34);
}

.positionBar {
	height: 65px;
	width: 0;
	overflow: hidden;
	position: relative;
	margin-bottom: 50px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0, 157, 126, 0.6);
}
