@media (max-width: 1919px) {

  .description__text-right, .description__text-left {
    display: block;
    width: 100%;
    &--list {
      display: inline-block;
      width: 30%;
      float: none;
      vertical-align: top;
    }
  }
  .footer__menu-link {
    margin: 0 10px;
    font-size: 14px;
  }
  .header-panel__personal-text:nth-child(1) {
    display: none;
  }
  .tile {
    &__line-content {
      text-align: center;
    }
    &__item {
      text-align: left;
    }
    &__item-clear {
      display: none;
      border-right: 1px solid #626265;
      min-height: 565px;
      margin-top: -8px;
      &:nth-child(8n) {
        display: inline-block;
        border-right: 1px solid #626265;
        width: auto;
        border-right: none;
        min-height: 565px;
        margin-top: -8px;
        margin-left: -61px;
      }
      &:nth-child(4n) {
        display: block;
        width: 105.7%;
        border-right: none;
        border-top: 1px solid #626265;
        min-height: 1px;
        margin-top: 0;
        margin-left: -4%
      }
      &:last-child {
        display: block;
        margin-top: 6px;
      }
    }
  }
  .email-link {
    display: inline-block !important;
    width: 45% !important;
  }
  .email-bl {
    display: inline-block !important;
    width: 55% !important;
  }
  .footer__social-link {
    float: left;
  }
  .footer__email .map-link {
    margin-top: 15px;
  }
  .footer__social-content {
    vertical-align: top;
    width: 50%;
  }
  .footer__callback {
    float: right;
    text-align: right;
    margin-top: -28px;
    display: inline-block;
    width: 49%;
  }
  .pagination {
    width: 57%;
    margin: 0 auto;
  }
  .header-panel__info-title {
    padding: 17px 10px;
  }
  .filter {
    &__header {
      height: 38px;
    }
    &__block {
      min-height: 90px;
      &--range {
        padding: 35px 0;
      }
    }
    &__map {
      height: 70px;
    }
    &__map-open {
      height: 70px;
      line-height: 70px;

    }
    &__header-link {
      font-size: 12px;
      padding: 12px 0;
    }
    &__name {
      font-size: 10px;
      font-weight: 400;
      line-height: 40px;
      .count {
        font-size: 21px;
      }
    }
    .dropdown-content{
      top: 111%;
      position: absolute;
      height: 94px;
      overflow: hidden;
      display: none;
    }
    .dropdown-inner {
      border: 1px solid #ddd;
      border-width: 1px 1px 0 1px;
    }
    &__field {
      position: relative;
      display: inline-block;
      width: auto;
      &--dropdown {
        border-bottom: 1px solid #ddd;
      }
    }
    &__dimension {
      font-size: 12px;
      span {
        vertical-align: super;
        display: inline-block;
        font-size: 10px;
      }
    }
    &__field-label {
      font-size: 10px;
      line-height: 10px;
      padding: 10px 7px 7px 8px;
    }
    #price {
      width: 180px;
    }
    .ui-widget.ui-widget-content {
      border: none;
      height: 1px;

    }
    .ui-slider .ui-slider-handle {
      width: 27px;
      height: 27px;
      border: 1px solid #ddd;
      background: #454744;
      top: -13px;
      margin-left: 0;
    }
    &__button {
      padding: 6px;
      width: 154px;
      height: 35px;
      font-size: 10px;
      line-height: 10px;
      .icon {
        font-size: 20px;
        padding: 1px 10px 5px 3px;
      }
    }
    .input-filter {
      width: 79px;
      height: 27px;
      padding: 10px 5px 10px 30px;
      font-size: 12px;
      line-height: 40px;
      &--select {
        width: 178px;
        height: 28px;
        padding: 10px 5px;
        font-size: 12px;
        line-height: 12px;
      }
      &--dropdown-link {
        width: 178px;
        height: 28px;
        font-size: 10px;
        line-height: 10px;
        min-width: 178px;
        padding: 5px 35px 5px 5px;
        max-height: 28px;
        &:after {
          display: inline-block;
          content: "";
          height: 10px;
          width: 0px;
          border-top: 4px solid #fff;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        &.open-link:after {
          display: inline-block;
          content: "";
          height: 10px;
          width: 0px;
          border-top: 0;
          border-bottom: 4px solid #fff;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          position: absolute;
          right: 10px;
          top: 2px;
        }
      }
    }
  }
  .custom-label {
    width: 181px;
    padding: 10px 5px;
    font-size: 10px;
    line-height: 10px;
  }
  .custom-label:after {
    width: 15px;
    height: 15px;
    margin-top: -8px;
    left: 88%;
  }
  .custom-label:before {
    margin-top: -7px;
    left: 87%;
    width: 5px;
    height: 10px;
  }
  .open-map {
    height: 530px;
    .filter__map-open:after {
      right: 41%;
      top: 28%;
    }
  }
}
@media (max-width: 1599px) {
  .pagination {
    width: 885px;
    margin: 0 auto;
  }
  .footer__menu-link {
    font-size: 13px;
  }
  .videos-main {
    height: 583px;
    &__item {

    }
    &__hide-panel {
      padding: 45px 40px;
    }
    &__video {
      min-height: 583px;
    }
    &__title-item {
      font-size: 17px;
    }
    .positionBar {
      height: 45px;
    }
    &__play-btn {
      height: 45px;
      width: 45px;
      &:after {
        display: inline-block;
        content: '';
        border: 7px solid transparent;
        border-left: 7px solid #fff;
        position: absolute;
        top: 33%;
        left: 45%;
      }
      &:hover {
        border: 2px solid #009d7e;
        &:after {
          border-left: 7px solid #009d7e;
        }
      }

    }
    &__descr {
      font-size: 10px;
      line-height: 12px;
      min-height: 47px;
    }
    &__count-offers {
      font-size: 10px;
      line-height: 11px;
      padding: 15px 0 25px 0;
    }
    &__more-btn {
      font-size: 11px;
    }
  }
  .icon.icon-heart {
    font-size: 20px;
  }
  .header-panel__personal-text {
    font-size: 15px;
    vertical-align: top;
  }
}
@media (max-width: 1365px) {
  .footer__menu-link {
    font-size: 12px;
  }
}
@media (max-width: 1279px) {
  .count-text {
    display: none;
  }
  .header-panel__phone {
    font-size: 18px;
  }
  .header-panel__info-title {
    font-size: 13px;
  }
  .header-panel__text {
    display: none;
  }
  .header-panel__logo {
    width: 183px;
  }
  .header-panel__choice {
    margin-right: 0px;
  }
  .header-panel__personal {
    margin-right: 10px;
  }
  .header-panel__phone {
    margin-right: 10px;
    vertical-align: bottom;
  }
  .footer__menu-link {
    font-size: 10px;
  }
  .footer {
    &__social-content {
      position: relative;
      width: 100%;
    }
    &__email {
      float: right;
    }
    &__social-link {
      float: none;
      position: absolute;
      right: 85px;
      top: 65px

    }
    &__callback {
      display: flex;
      justify-content: space-between;
      width: 275%;
      margin-top: 100px;
      vertical-align: bottom;
      .footer__subscription-text--small {
        padding-top: 20px;
        width: 53%;
        text-align: right;
        display: inline-block;
        vertical-align: bottom;

      }
    }
    &__subscription {
      width: 80%;
    }
    &__phone-number {
      padding: 10px 0;
      width: auto;
      display: inline-block;
      vertical-align: bottom;
    }
    &__callback-btn {
      width: auto;
      display: inline-block;
      vertical-align: bottom;
      margin: 0;
    }

  }
  .filter {
    &__body {
      display: inline-block;
      padding: 23px;
    }
    &__column {
      width: 24%;
      vertical-align: top;
      &--direction {
        float: right;
        text-align: right;
        .filter__name {
          text-align: left;
          padding-left: 37px;
        }
      }
      &--buttons {
        width: 100%;
        text-align: right;
        .filter__name {
          width: auto;
          display: inline-block;
          margin-right: 10px;
        }
        .filter__button {
          display: inline-block;
        }
      }
    }
  }
  .open-map .filter__map-open:after {
    right: 39%;
    top: 29%;
  }

}
@media (max-width: 1023px) {
  .header-panel {
    height: 40px;
    display: flex;
    justify-content: space-between;
    &__phone {
      font-size: 14px;
      line-height: 24px;
      margin-right: 2px;
      vertical-align: top;
    }
    &__logo {
      width: 135px;
    }
    &__menu {
      padding: 5px;
    }
    &__logo-inner {
      height: 60px;
    }
    .icon {
      font-size: 12px;
      padding: 2px;
    }
    &__info-count {
      font-size: 9px;
      .count {
        font-size: 14px;
        padding-left: 2px;
      }
    }
    &__left-info {
      padding: 6px 5px;
    }
    &__info-title {
      padding: 11px 2px;
      font-size: 11px;
    }
    &__personal {
      margin-right: 0px;
    }
    &__personal-text {
      padding: 5px 5px 5px 0;
    }
  }
  .tile {
    margin-top: 0;
    &__item-clear {
      min-height: 488px;
      &:last-child {
        display: none;
      }
    }
    &__item {
      padding: 15px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      min-width: 318px;
      min-height: 400px;

    }
    &__line-items {
      display: flex;
    }

    &__item-content {
      max-width: 318px;
      max-height: 455px;
      display: inline-block;
      position: relative;
    }
    &__item-img {
      min-width: 318px;
      min-height: 180px;
    }
    &__item-info {
      min-height: 218px;
      padding: 15px 20px;
      box-sizing: border-box;
      background-color: #fff;
    }
    &__info-content {

    }
    &__info-params {
      font-size: 14px;
      line-height: 15px;
      margin: 20px 0 40px 0;
    }
    &__info-param {

    }
    &__info-price {

    }
    &__info-price-one {
      color: #009d7e;
      font-size: 24px;
      font-weight: 700;
    }
    &__info-price-two {
      color: #000;
      font-size: 18px;
      font-weight: 400;
    }
    &__info-id {
      color: #818282;
      font-size: 14px;
      font-weight: 400;
    }
    &__icon {
      font-size: 24px;
    }
    &__special-mark {
      width: 40px;
      height: 40px;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #525662;
      padding: 10px;
      box-sizing: border-box;
      &--new-offer {
        width: 140px;
        background-color: #93b4b7;
        color: #fff;
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        .tile__icon {
          color: #fff;
        }
      }
      &--special-offer {
        width: 140px;
        background-color: #009d7e;
        color: #fff;
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        .tile__icon {
          color: #fff;
        }
      }
    }

    &__special-text {
      display: inline-block;
      width: 90px;
      padding: 0;
      box-sizing: border-box;
    }
  }

  .pagination {
    margin: 0 auto;
    width: 680px;
    //&__count-result {
    //  width: 100%;
    //  display: block;
    //  text-align: center;
    //  margin-bottom: 10px;
    //}
    //&__pages {
    //  width: 100%;
    //  display: block;
    //  text-align: center;
    //}
    &__item {
      width: 29px;
      height: 29px;
      background-color: #fff;
      padding: 8px 0 15px 0;
      box-sizing: border-box;
      display: inline-block;
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      margin: 0 5px;
      line-height: 16px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #60b1a1;
        color: #fff;
      }
      &.active {
        background-color: #60b1a1;
        color: #fff;
      }
      &.other {
        background-color: transparent;
        color: #fff;
      }
    }
    &__text {
      color: white;
      font-size: 12px;
      font-weight: 400;
      &--count {

      }
      &--next {
        margin-left: 5px;
      }
      &--clear {
        margin-left: 5px;
      }
    }
  }
  .videos-main {
    height: 405px;
    &__item {

    }
    &__hide-panel {
      padding: 25px;
    }
    &__video {
      min-height: 405px;
    }
    &__title-item {
      font-size: 11px;
    }
    &__play-btn {
      height: 30px;
      width: 30px;
      margin-bottom: 15px;
      &:after {
        display: inline-block;
        content: '';
        border: 4px solid transparent;
        border-left: 4px solid #fff;
        position: absolute;
        top: 33%;
        left: 45%;
      }
      &:hover {
        border: 2px solid #009d7e;
        &:after {
          border-left: 4px solid #009d7e;
        }
      }

    }
    &__descr {
      font-size: 8px;
      line-height: 10px;
      min-height: 47px;
    }
    &__count-offers {
      font-size: 8px;
      line-height: 11px;
      padding: 10px 0 15px 0;
    }
    &__more-btn {
      font-size: 8px;
    }
  }
  .description__text-right--list, .description__text-left--list {
    display: inline-block;
    width: 45%;
  }
  .footer__menu-link {
    font-size: 7px;
    margin: 0 3px;
  }
  .footer__menu {
    height: 50px;
  }
  .footer__menu-logo {
    height: 50px;
  }
  .footer__menu-logo img {
    height: 100%;
  }
  .footer__menu-links {
    padding: 12px 0;
  }
  .popup__content {
    width: 100%;
  }
  .btn-form {
    width: 63px;
    height: 30px;
    font-size: 11px;
  }
 .input-form {
    width: 191px;
    height: 30px;
  }
  .footer__subscription-text {
    font-size: 12px;
  }
  .footer__subscription-text--small {
    font-size: 10px;
  }
  .footer__subscription-form {
    padding-bottom: 20px;
  }
  .footer__email .email-bl {
    font-size: 12px;
  }
  .footer__email {
    font-size: 12px;
  }
  .footer__social-link {
    right: 20px;
  }

  .footer__social-info {
    width: 40%;
  }
  .footer__callback-btn {
    width: 131px;
    height: 25px;
  }
  .footer__phone-number {
    padding: 5px 0;
  }
  .footer__callback .footer__subscription-text--small {
    padding-top: 10px;
  }
  .footer__callback {
    width: 300%;
  }
  .popup__big-btn {
    width: auto;
  }
  .filter {
    margin-top: 0;
    &__header {
      height: 70px;
    }
    &__header-link {
      height: 70px;
      //font-size: 15px;
    }
    &__body {
      display: inline-block;
      padding: 23px;
    }
    &__block{
      &--range {
        display: none;
      }
    }
    &__column {
      width: 100%;
      vertical-align: top;
      &--direction {
        float: none;
        text-align: inherit;
        .filter__name {
          text-align: inherit;
          padding-left: 0;
        }
      }
      &--buttons {
        text-align: inherit;
        .filter__name {
          width: 25%;
        }
      }
    }
    .filter__column--buttons {
      .filter__name {
        display: block;
      }
    }



  }
}
@media (max-width: 767px) {
  .header-panel {
    background-color: #3a3d46;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    &--alternate {
      height: 60px;
      display: inline-block !important;
      width: 100%;
      position: relative;
      top: 0;
    }
    &__info {
      display: none;
    }
    &__left-info {
      display: none;
    }
    &__logo-inner {
      height: 60px;
    }
    &__menu {
      color: #fff;
      padding: 15px;
    }
    &__logo {
      width: 110px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      margin-left: -55px;
    }

  }
  .popup__content {
    width: 100%;
    padding: 45px 40px;
  }
  .popup__close {
    left: 40px;
  }
  .videos-main {
    height: 645px;
    margin-top: 20px;
    &__video {
      display: none;
    }
    &__play-btn {
      display: none;
    }
    &__descr {
      display: none;
    }
    &__hide-panel {
      padding: 35px 20px;
      background-image: linear-gradient(to right, rgba(58, 61, 70,0.9), rgba(58, 61, 70,0.8), rgba(58, 61, 70,0.7),
      rgba(58, 61, 70,0.6), rgba(58, 61, 70,0.4), rgba(58, 61, 70,0), rgba(58, 61, 70,0),
      rgba(58, 61, 70,0),rgba(58, 61, 70,0));
    }
    &__content {
      width: 100%;
      display: block;
    }
    &__item {
      width: 100%;
      display: block;
      height: 160px;
      &:hover {
        width: 100%;
      }
    }
    &__more-btn {
      position: absolute;
      right: 0;
      bottom: 45px;
      width: 140px;
      height: 46px;
      font-size: 17px;
      font-weight: 700;
      padding: 11px 15px;
      &:hover {
        color: rgba(131, 176, 183, 0.89);
        border: 1px solid #fff;
        background-color: #fff;
      }
    }
    &__count-offers {
      font-size: 16px;
    }
    &__title-item {
      font-size: 19px;
      width: 50%;
      line-height: 25px;
    }
    &__container {
      display: block;
      width: 100%;
    }
  }
  .tile {
    &__item {
      min-width: 290px;
      padding: 15px 12px;
    }
    &__sort-btn {
      margin-right: 0;
    }
    &__item-clear {
      display: inline-block;
      border-right: 1px solid #626265;
      margin-top: -8px;
      &:nth-child(2n) {
        display: block;
        width: 105.7%;
        border-right: none;
        border-top: 1px solid #626265;
        min-height: 1px;
        margin-top: 0;
        margin-left: -4%;
      }
      &:nth-child(4n) {
        display: inline-block;
      }
      &:nth-child(8n) {
        display: inline-block;
      }
      &:last-child {
        display: none;
      }
    }
    &__info-price {
      margin-bottom: 10px;
    }
    &__item-img {
      min-width: 270px;
    }
    &__item-content {
      max-width: 270px;
      max-height: 525px;
    }
    &__item-info {
      min-height: 330px;
    }
  }
  .footer {
    &__callback-info-content {
      display: block;
      width: 93.75%;
      margin: 0 auto;
    }
    &__social-content {
      position: relative;
      width: 100%;
    }
    &__email {
      float: right;
    }
    &__social-link {
      float: none;
      right: auto;
      left: 50%;
      top: 80px;
      margin-left: -85px;
    }
    &__callback {
      display: flex;
      justify-content: space-between;
      width: 275%;
      margin-top: 100px;
      vertical-align: bottom;
      .footer__subscription-text--small {
        padding-top: 20px;
        width: 53%;
        text-align: right;
        display: inline-block;
        vertical-align: bottom;

      }
    }
    &__social-info {
      width: 100%;
      display: block;
      padding: 15px 0 30px 0;
    }
    &__subscription {
      width: 100%;
      display: block;
      padding: 30px 0 10px 0;
    }
    &__phone-number {
    }
    &__callback-btn {

    }
    &__menu-links {
      display: none;
    }
    &__subscription-text {
      text-align: center;
      width: 100%;
      display: block;
    }
    &__subscription-form {
      width: 100%;
      display: block;
      .input-form {
        width: 100%;
        display: block;
        margin: 10px 0;
      }
      .btn-form {
        width: 100%;
        display: block;
      }
    }
    &__email {
      width: 100%;
      display: block;
    }
    &__callback {
      display: block;
      width: 100%;
    }
    &__phone-number {
      display: block;
      width: 100%;
      text-align: center;
   }
    &__callback-btn {
      display: block;
      width: 100%;
    }
    .email-bl, .email-link, .map-link {
      display: block !important;
      width: 100% !important;
      text-align: center;
    }
  }
  .footer__callback .footer__subscription-text--small {
    display: block;
    width: 100%;
    text-align: center;
  }
  .description__text-right--list, .description__text-left--list {
    display: block;
    width: 100%;
  }
  .pagination {
    width: 285px;
    &__item {
      margin: 0 2px;
    }
    &__text--clear {
      margin-left: 5px;
    }
    &__text--next {
      margin-left: 5px;
    }
    &__text--count {
      display: block;
    }
    &__pages {
      float: none;
      margin-top: 10px;
    }
  }
  .fixed {
    width: 100%;
  }
  .for-xs {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  .open-map .filter__map-open:after {
    right: 15%;
    top: 29%;
  }
  .filter {
    //.dropdown-content {
    //  position: fixed;
    //  width: 100%;
    //  height: 100%;
    //  top: 0;
    //  left: 0;
    //  background-color: #55555d;
    //  z-index: 10000;
    //  padding: 100px 10px;
    //}
    .dropdown-inner {
      background-color: #55555d;
    }
    //&__field--dropdown {
    //  border: none;
    //}
  }
}