/* fonts */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Bold.woff') format('woff'), url('../fonts/Circe/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-ExtraLight.woff') format('woff'), url('../fonts/Circe/Circe-ExtraLight.ttf') format('truetype'), url('../fonts/Circe/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Light.woff') format('woff'), url('../fonts/Circe/Circe-Light.ttf') format('truetype'), url('../fonts/Circe/Circe-Light.svg#Circe-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Regular.woff') format('woff'), url('../fonts/Circe/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Thin.woff') format('woff'), url('../fonts/Circe/Circe-Thin.ttf') format('truetype'), url('../fonts/Circe/Circe-Thin.svg#Circe-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Circe/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/Circe/OpenSans.woff') format('woff'), url('../fonts/Circe/OpenSans.ttf')  format('truetype'), url('../fonts/Circe/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*!
 * Fotorama 4.6.4 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after,
.fotorama__fullscreen-icon:focus:after,
.fotorama__html,
.fotorama__img,
.fotorama__nav__frame:focus .fotorama__dot:after,
.fotorama__nav__frame:focus .fotorama__thumb:after,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.fotorama--fullscreen,
.fotorama__img {
  max-width: 99999px!important;
  max-height: 99999px!important;
  min-width: 0!important;
  min-height: 0!important;
  border-radius: 0!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  padding: 0 !important;
}
.fotorama__wrap .fotorama__grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.fotorama__grabbing * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.fotorama__spinner {
  position: absolute!important;
  top: 50%!important;
  left: 50% !important;
}
.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border,
.fotorama__wrap--css3 .fotorama__video-close,
.fotorama__wrap--css3 .fotorama__video-play {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fotorama__caption,
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before,
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__nav,
.fotorama__wrap--css3 .fotorama__spinner,
.fotorama__wrap--css3 .fotorama__stage,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img,
.fotorama__wrap--css3 .fotorama__stage__frame {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.fotorama__arr:focus,
.fotorama__fullscreen-icon:focus,
.fotorama__nav__frame {
  outline: 0;
}
.fotorama__arr:focus:after,
.fotorama__fullscreen-icon:focus:after,
.fotorama__nav__frame:focus .fotorama__dot:after,
.fotorama__nav__frame:focus .fotorama__thumb:after {
  content: '';
  border-radius: inherit;
  background-color: rgba(0, 175, 234, 0.5);
}
.fotorama__wrap--video .fotorama__stage,
.fotorama__wrap--video .fotorama__stage__frame--video,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__shaft {
  -webkit-transform: none!important;
  -ms-transform: none !important;
  transform: none !important;
}
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
  -webkit-transition-property: -webkit-transform, width;
  transition-property: -webkit-transform, width;
  transition-property: transform, width;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__no-select,
.fotorama__video-close,
.fotorama__video-play,
.fotorama__wrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fotorama__select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.fotorama__nav,
.fotorama__nav__frame {
  margin: auto;
  padding: 0;
}
.fotorama__caption__wrap,
.fotorama__nav__frame,
.fotorama__nav__shaft {
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}
.fotorama__nav__frame,
.fotorama__thumb-border {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.fotorama__caption__wrap {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fotorama--hidden,
.fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__nav,
.fotorama__nav__frame,
.fotorama__nav__shaft,
.fotorama__stage__frame,
.fotorama__stage__shaft,
.fotorama__video-close,
.fotorama__video-play {
  -webkit-tap-highlight-color: transparent;
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
  background: url(../images/fotorama.png) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .fotorama__arr,
  .fotorama__fullscreen-icon,
  .fotorama__video-close,
  .fotorama__video-play {
	background: url(../images/fotorama@2x.png) 0 0px 160px no-repeat;
  }
}
.fotorama__thumb {
  background-color: #7f7f7f;
  background-color: rgba(127, 127, 127, 0.2);
}
@media print {
  .fotorama__arr,
  .fotorama__fullscreen-icon,
  .fotorama__thumb-border,
  .fotorama__video-close,
  .fotorama__video-play {
	background: none !important;
  }
}
.fullscreen {
  width: 100%!important;
  height: 100%!important;
  max-width: 100%!important;
  max-height: 100%!important;
  margin: 0!important;
  padding: 0!important;
  overflow: hidden!important;
  background: #000;
}
.fotorama--fullscreen {
  position: absolute!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  float: none!important;
  z-index: 2147483647!important;
  background: #000;
  width: 100%!important;
  height: 100%!important;
  margin: 0 !important;
}
.fotorama--fullscreen .fotorama__nav,
.fotorama--fullscreen .fotorama__stage {
  background: #000;
}
.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
  direction: ltr;
  z-index: 0;
}
.fotorama__wrap--rtl .fotorama__stage__frame {
  direction: rtl;
}
.fotorama__nav,
.fotorama__stage {
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y;
}
.fotorama__wrap .fotorama__pointer {
  cursor: pointer;
}
.fotorama__wrap--slide .fotorama__stage__frame {
  opacity: 1 !important;
}
.fotorama__stage__frame {
  overflow: hidden;
}
.fotorama__stage__frame.fotorama__active {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__stage__frame {
  display: none;
}
.fotorama__wrap--fade .fotorama__fade-front,
.fotorama__wrap--fade .fotorama__fade-rear,
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
  display: block;
  left: 0;
  top: 0;
}
.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 8;
}
.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 7;
}
.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
  z-index: 9;
}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none;
}
.fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: none !important;
}
.fotorama__error .fotorama__img,
.fotorama__loaded .fotorama__img {
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,
.fotorama__img--full {
  display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block;
}
.fotorama__wrap--only-active .fotorama__nav,
.fotorama__wrap--only-active .fotorama__stage {
  max-width: 99999px !important;
}
.fotorama__wrap--only-active .fotorama__stage__frame {
  visibility: hidden;
}
.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible;
}
.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  z-index: 5;
}
.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
}
.fotorama__nav__frame {
  position: relative;
  cursor: pointer;
}
.fotorama__nav--dots {
  display: block;
}
.fotorama__nav--dots .fotorama__nav__frame {
  width: 18px;
  height: 30px;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb,
.fotorama__nav--dots .fotorama__thumb-border {
  display: none;
}
.fotorama__nav--thumbs {
  display: block;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
  padding-left: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
  padding-right: 0 !important;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
  display: none;
}
.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid #7f7f7f;
}
.fotorama__nav__frame:focus .fotorama__dot:after {
  padding: 1px;
  top: -1px;
  left: -1px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 0;
  height: 0;
  border-width: 3px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot:after {
  padding: 3px;
  top: -3px;
  left: -3px;
}
.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.fotorama__nav__frame:focus .fotorama__thumb {
  z-index: 2;
}
.fotorama__thumb-border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #00afea;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(64, 64, 64, 0.1)));
  background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
}
.fotorama__caption {
  display: none;
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}
.fotorama__caption a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
}
.fotorama__caption a:hover {
  color: #333;
  border-color: rgba(51, 51, 51, 0.5);
}
.fotorama__wrap--rtl .fotorama__caption {
  left: auto;
  right: 0;
}
.fotorama__wrap--no-captions .fotorama__caption,
.fotorama__wrap--video .fotorama__caption {
  display: none;
}
.fotorama__caption__wrap {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
}
@-webkit-keyframes spinner {
  0% {
	-webkit-transform: rotate(0);
	transform: rotate(0);
  }
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
	-webkit-transform: rotate(0);
	transform: rotate(0);
  }
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
.fotorama__wrap--css3 .fotorama__spinner {
  -webkit-animation: spinner 24s infinite linear;
  animation: spinner 24s infinite linear;
}
.fotorama__wrap--css3 .fotorama__html,
.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.fotorama__select {
  cursor: auto;
}
.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
@-moz-document url-prefix() {
  .fotorama__active {
	box-shadow: 0 0 0 transparent;
  }
}
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
  position: absolute;
  z-index: 11;
  cursor: pointer;
}
.fotorama__arr {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  margin-top: -16px;
}
.fotorama__arr--prev {
  left: 2px;
  background-position: 0 0;
}
.fotorama__arr--next {
  right: 2px;
  background-position: -32px 0;
}
.fotorama__arr--disabled {
  pointer-events: none;
  cursor: default;
  *display: none;
  opacity: 0.1;
}
.fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  top: 2px;
  right: 2px;
  background-position: 0 -32px;
  z-index: 20;
}
.fotorama__arr:focus,
.fotorama__fullscreen-icon:focus {
  border-radius: 50%;
}
.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -32px -32px;
}
.fotorama__video-play {
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  margin-top: -48px;
  background-position: 0 -64px;
  opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-play,
.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
  display: none;
}
.fotorama__error .fotorama__video-play,
.fotorama__loaded .fotorama__video-play,
.fotorama__nav__frame .fotorama__video-play {
  opacity: 1;
  display: block;
}
.fotorama__nav__frame .fotorama__video-play {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  background-position: -64px -32px;
}
.fotorama__video-close {
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-position: -64px 0;
  z-index: 20;
  opacity: 0;
}
.fotorama__wrap--css2 .fotorama__video-close {
  display: none;
}
.fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--video .fotorama__video-close {
  display: block;
  opacity: 1;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 0;
}
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  opacity: 1;
}
.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  opacity: 0 !important;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  display: none;
}
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,
.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
  display: block;
}
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
  display: none !important;
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
  -webkit-transform: translate3d(32px, -32px, 0);
  transform: translate3d(32px, -32px, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
  -webkit-transform: translate3d(-48px, 0, 0);
  transform: translate3d(-48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
  -webkit-transform: translate3d(48px, 0, 0);
  transform: translate3d(48px, 0, 0);
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
  -webkit-transform: translate3d(32px, -32px, 0) !important;
  transform: translate3d(32px, -32px, 0) !important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
  -webkit-transform: translate3d(-48px, 0, 0) !important;
  transform: translate3d(-48px, 0, 0) !important;
}
.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
  -webkit-transform: translate3d(48px, 0, 0) !important;
  transform: translate3d(48px, 0, 0) !important;
}
.fotorama__wrap--css3 .fotorama__arr:not(:focus),
.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),
.fotorama__wrap--css3 .fotorama__video-close:not(:focus),
.fotorama__wrap--css3 .fotorama__video-play:not(:focus) {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.fotorama__nav:after,
.fotorama__nav:before,
.fotorama__stage:after,
.fotorama__stage:before {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%;
}
.fotorama__nav:before,
.fotorama__stage:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, rgba(0, 0, 0, 0.2)), color-stop(75%, rgba(0, 0, 0, 0.3)), to(transparent)), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 0 0, 0 0;
  left: -10px;
}
.fotorama__nav.fotorama__shadows--left:before,
.fotorama__stage.fotorama__shadows--left:before {
  left: 0;
}
.fotorama__nav:after,
.fotorama__stage:after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, rgba(0, 0, 0, 0.2)), color-stop(75%, rgba(0, 0, 0, 0.3)), to(transparent)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent);
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent);
  background-position: 100% 0, 100% 0;
  right: -10px;
}
.fotorama__nav.fotorama__shadows--right:after,
.fotorama__stage.fotorama__shadows--right:after {
  right: 0;
}
.fotorama--fullscreen .fotorama__nav:after,
.fotorama--fullscreen .fotorama__nav:before,
.fotorama--fullscreen .fotorama__stage:after,
.fotorama--fullscreen .fotorama__stage:before,
.fotorama__wrap--fade .fotorama__stage:after,
.fotorama__wrap--fade .fotorama__stage:before,
.fotorama__wrap--no-shadows .fotorama__nav:after,
.fotorama__wrap--no-shadows .fotorama__nav:before,
.fotorama__wrap--no-shadows .fotorama__stage:after,
.fotorama__wrap--no-shadows .fotorama__stage:before {
  display: none;
}
/*! jQuery UI - v1.11.4 - 2015-10-13
* http://jqueryui.com
* Includes: core.css, slider.css
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  /* support: IE8 */
}
.ui-front {
  z-index: 100;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
}
/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#previews .file-row .delete {
  display: none;
}
/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/
/*
CONTENTS: 
	1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited). 
	2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar. 
	3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
	4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars. 
	5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars. 
	6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS 
		6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/
/* 
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE  
------------------------------------------------------------------------------------------------------------------------
*/
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
  /* direct pointer events to js */
}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto;
}
.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}
.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto;
}
/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_inside > .mCSB_container {
  margin-right: 16px;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}
/* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}
/* RTL direction/left-side scrollbar */
.mCSB_scrollTools {
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
  position: absolute;
  width: 4px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}
.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}
/* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  /* RTL direction/left-side scrollbar */
  right: auto;
  left: 0;
}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}
/* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  display: none;
}
.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 12px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  /* auto-expanded scrollbar */
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
  /* auto-expanded scrollbar */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  background-color: #04755F;
  opacity: 1 !important;
}

.mCSB_scrollTools .mCSB_buttonUp {
  background-position:-2px 0px;
}

.mCSB_scrollTools .mCSB_buttonDown {
  background-position:-2px -20px;
}

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}
/* 
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR 
x-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 30px;
}
.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%;
}
.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}
/* non-visible scrollbar */
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 16px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px;
}
/* scrollbar position: outside */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 20px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  /* minimum dragger width */
  height: 100%;
  left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 12px;
  /* auto-expanded scrollbar */
  margin: 2px auto;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 8px;
  /* auto-expanded scrollbar */
  margin: 4px 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 0;
}
/* 
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS 
yx-axis 
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}
.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px;
}
/* non-visible horizontal scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0;
}
/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0;
}
/* RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px;
}
/* non-visible scrollbar/RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0;
}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0;
}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  /* non-visible scrollbar */
  margin-left: 0;
}
/* non-visible horizontal scrollbar */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}
/* 
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS  
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
/* 
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
------------------------------------------------------------------------------------------------------------------------
*/
/* 
	----------------------------------------
	6.1 THEMES 
	----------------------------------------
	*/
/* default theme ("light") */
.mCSB_scrollTools {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  width: 12px;
  background: #B3B3B3;
}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 0;
  filter: "alpha(opacity=0)";
  -ms-filter: "alpha(opacity=0)";
}
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #009d7e;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #009d7e;
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #009d7e;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(../images/mCSB_buttons.png);
  /* css sprites */
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
}
.mCustomScrollbar--blue .mCSB_scrollTools {
  width: 11px;
  background-color: #e3e2e2;
}
.mCustomScrollbar--blue .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  margin: 0;
  background-color: #66a3e4;
}
.sprite-icon {
  background: url('../images/sprite.png') no-repeat top left;
  display: inline-block;
}
.sprite-icon.bascket {
  background-position: 0px 0px;
  width: 32px;
  height: 27px;
  opacity: 0.7;
}
.sprite-icon.blue-right-arrow {
  background-position: -37px 0px;
  width: 12px;
  height: 23px;
}
.sprite-icon.booklet {
  background-position: -54px 0px;
  width: 38px;
  height: 28px;
}
.sprite-icon.bottom-arrow {
  background-position: -97px 0px;
  width: 13px;
  height: 8px;
}
.sprite-icon.bus {
  background-position: -115px 0px;
  width: 50px;
  height: 52px;
}
.sprite-icon.bus-active {
  background-position: -170px 0px;
  width: 50px;
  height: 52px;
}
.sprite-icon.calc {
  background-position: -225px 0px;
  width: 17px;
  height: 23px;
}
.sprite-icon.car {
  background-position: -247px 0px;
  width: 56px;
  height: 41px;
}
.sprite-icon.car-active {
  background-position: -308px 0px;
  width: 56px;
  height: 41px;
}
.sprite-icon.checkbox {
  background-position: -369px 0px;
  width: 13px;
  height: 9px;
}
.sprite-icon.checkbox-black {
  background-position: -387px 0px;
  width: 20px;
  height: 19px;
}
.sprite-icon.checkbox-green {
  background-position: -412px 0px;
  width: 13px;
  height: 9px;
}
.sprite-icon.close {
  background-position: -430px 0px;
  width: 21px;
  height: 22px;
}
.sprite-icon.close_manager {
  background-position: -456px 0px;
  width: 14px;
  height: 15px;
}
.sprite-icon.close-elit {
  background-position: -475px 0px;
  width: 19px;
  height: 21px;
}
.sprite-icon.close-filter {
  background-position: -499px 0px;
  width: 16px;
  height: 16px;
}
.sprite-icon.close-mini {
  background-position: -520px 0px;
  width: 15px;
  height: 16px;
}
.sprite-icon.close-white-big {
  background-position: -540px 0px;
  width: 26px;
  height: 25px;
}
.sprite-icon.close-white-large {
  background-position: -571px 0px;
  width: 21px;
  height: 22px;
}
.sprite-icon.close-white-small {
  background-position: -597px 0px;
  width: 10px;
  height: 9px;
}
.sprite-icon.dbl-arrow {
  background-position: -612px 0px;
  width: 7px;
  height: 14px;
}
.sprite-icon.dbl-arrow-white {
  background-position: -624px 0px;
  width: 7px;
  height: 14px;
}
.sprite-icon.docs {
  background-position: -636px 0px;
  width: 31px;
  height: 34px;
}
.sprite-icon.elit-like-active-small {
  background-position: -672px 0px;
  width: 16px;
  height: 14px;
}
.sprite-icon.elit-like-small {
  background-position: -693px 0px;
  width: 18px;
  height: 16px;
}
.sprite-icon.email {
  background-position: -716px 0px;
  width: 22px;
  height: 21px;
}
.sprite-icon.eye {
  background-position: -743px 0px;
  width: 24px;
  height: 15px;
}
.sprite-icon.fb {
  background-position: -772px 0px;
  width: 8px;
  height: 16px;
}
.sprite-icon.fb-small {
  background-position: -785px 0px;
  width: 6px;
  height: 10px;
}
.sprite-icon.foto {
  background-position: -796px 0px;
  width: 25px;
  height: 25px;
}
.sprite-icon.foto-black {
  background-position: -826px 0px;
  width: 18px;
  height: 18px;
}
.sprite-icon.fullscreen_small {
  background-position: -849px 0px;
  width: 26px;
  height: 25px;
}
.sprite-icon.gpl {
  background-position: -880px 0px;
  width: 15px;
  height: 13px;
}
.sprite-icon.hart {
  background-position: -900px 0px;
  width: 17px;
  height: 14px;
}
.sprite-icon.hide_dialog {
  background-position: -922px 0px;
  width: 17px;
  height: 21px;
}
.sprite-icon.left-arrow {
  background-position: -944px 0px;
  width: 10px;
  height: 21px;
}
.sprite-icon.like {
  background-position: -959px 0px;
  width: 21px;
  height: 18px;
}
.sprite-icon.like-active {
  background-position: -985px 0px;
  width: 21px;
  height: 18px;
}
.sprite-icon.like-elit {
  background-position: -1011px 0px;
  width: 17px;
  height: 14px;
}
.sprite-icon.like-elit-active {
  background-position: -1033px 0px;
  width: 17px;
  height: 14px;
}
.sprite-icon.like-elit-white {
  background-position: -1055px 0px;
  width: 17px;
  height: 14px;
}
.sprite-icon.logo_white {
  background-position: -1077px 0px;
  width: 81px;
  height: 30px;
}
.sprite-icon.mail {
  background-position: -1163px 0px;
  width: 17px;
  height: 17px;
}
.sprite-icon.map {
  background-position: -1185px 0px;
  width: 14px;
  height: 20px;
}
.sprite-icon.map-elit {
  background-position: -1204px 0px;
  width: 25px;
  height: 36px;
}
.sprite-icon.map-filter {
  background-position: -1234px 0px;
  width: 39px;
  height: 20px;
}
.sprite-icon.menu {
  background-position: -1278px 0px;
  width: 18px;
  height: 17px;
  margin: 0;
}
.sprite-icon.menu-elit {
  background-position: -1301px 0px;
  width: 25px;
  height: 15px;
}
.sprite-icon.menu-white {
  background-position: -1331px 0px;
  width: 23px;
  height: 17px;
}
.sprite-icon.od {
  background-position: -1359px 0px;
  width: 8px;
  height: 14px;
}
.sprite-icon.od-small {
  background-position: -1372px 0px;
  width: 5px;
  height: 8px;
}
.sprite-icon.pdf {
  background-position: -1382px 0px;
  width: 13px;
  height: 15px;
}
.sprite-icon.pdf-black {
  background-position: -1400px 0px;
  width: 24px;
  height: 27px;
}
.sprite-icon.pen {
  background-position: -1429px 0px;
  width: 12px;
  height: 16px;
}
.sprite-icon.phone2 {
  background-position: -1446px 0px;
  width: 58px;
  height: 58px;
}
.sprite-icon.phone-elite {
  background-position: -1509px 0px;
  width: 87px;
  height: 87px;
}
.sprite-icon.range-arrow-left {
  background-position: -1601px 0px;
  width: 12px;
  height: 23px;
}
.sprite-icon.range-arrow-right {
  background-position: -1618px 0px;
  width: 12px;
  height: 23px;
}
.sprite-icon.redirect {
  background-position: -1635px 0px;
  width: 17px;
  height: 19px;
}
.sprite-icon.right-arrow {
  background-position: -1657px 0px;
  width: 10px;
  height: 21px;
}
.sprite-icon.satellite {
  background-position: -1672px 0px;
  width: 34px;
  height: 34px;
}
.sprite-icon.search {
  background-position: -1711px 0px;
  width: 20px;
  height: 20px;
}
.sprite-icon.search-light {
  background-position: -1736px 0px;
  width: 22px;
  height: 22px;
}
.sprite-icon.search-orange {
  background-position: -1763px 0px;
  width: 20px;
  height: 20px;
}
.sprite-icon.search-white {
  background-position: -1788px 0px;
  width: 20px;
  height: 20px;
}
.sprite-icon.share_email {
  background-position: -1813px 0px;
  width: 18px;
  height: 17px;
}
.sprite-icon.subscribe {
  background-position: -1836px 0px;
  width: 28px;
  height: 27px;
}
.sprite-icon.top-arrow {
  background-position: -1869px 0px;
  width: 13px;
  height: 8px;
}
.sprite-icon.tw {
  background-position: -1887px 0px;
  width: 15px;
  height: 12px;
}
.sprite-icon.user {
  background-position: -1907px 0px;
  width: 14px;
  height: 14px;
}
.sprite-icon.user-dark {
  background-position: -1926px 0px;
  width: 14px;
  height: 14px;
}
.sprite-icon.video {
  background-position: -1945px 0px;
  width: 25px;
  height: 25px;
}
.sprite-icon.video-black {
  background-position: -1975px 0px;
  width: 18px;
  height: 18px;
}
.sprite-icon.vk {
  background-position: -1998px 0px;
  width: 12px;
  height: 14px;
}
.sprite-icon.vk-smal {
  background-position: -2015px 0px;
  width: 8px;
  height: 9px;
}
.sprite-icon.walk {
  background-position: -2028px 0px;
  width: 43px;
  height: 58px;
}
.sprite-icon.walk-active {
  background-position: -2076px 0px;
  width: 43px;
  height: 58px;
}
.sprite-icon.web_ico {
  background-position: -2124px 0px;
  width: 26px;
  height: 38px;
}
.sprite-icon.zoom {
  background-position: -2155px 0px;
  width: 36px;
  height: 36px;
}
.sprite-icon.zoom-small {
  background-position: -2196px 0px;
  width: 24px;
  height: 23px;
}
.sprite-nmarket {
  background: url('../images/sprite-nmarket.png') no-repeat top left;
  display: inline-block;
}
.sprite-nmarket.logotype_nmarket {
  background-position: 0px 0px;
  width: 178px;
  height: 40px;
}
.sprite-nmarket.you_builder {
  background-position: 0px -50px;
  width: 98px;
  height: 128px;
}
.sprite-nmarket.you_individual {
  background-position: 0px -188px;
  width: 83px;
  height: 119px;
}
.sprite-nmarket.you_realtor {
  background-position: 0px -317px;
  width: 71px;
  height: 123px;
}
.container--elit {
  	width: 93%;
  	min-width: 998px;
  	position: relative;
  	z-index: 2;
}
.absolute-link {
  	position: absolute;
  	top: 0;
  	left: 0;
 	width: 100%;
  	height: 100%;
  	z-index: 5;
  	cursor: pointer;
}

.bottom-shadow {
  	position: relative;

  	&:after {
	  	content: '';
	  	width: 100%;
		height: 35px;
		background: url(../images/under-block-4.png) top center no-repeat;
		background-size: 100% 35px;
		position: absolute;
		bottom: -33px;
		left: 0;
	}

	&--small {

		&:after {
			height: 20px;
		  	background-size: 100% 20px;
		  	bottom: -20px;
		  	opacity: 0.5;
		}
	}
}

.left {
  	float: left;
}

.right {
  	float: right;
}

.btn {
  	display: inline-block;
  	background-color: #66a3e4;
  	color: #fff;
  	font-size: 1.125em;
  	font-weight: 400;
  	text-align: center;
  	min-width: 72px;
  	padding: 1.25em 0.5em;
  	border: none;
  	text-decoration: none;
  	cursor: pointer;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

	&--with-shadow {
	  	position: relative;
	  	z-index: 2;

	  	&:after {
		  	content: '';
		  	width: 94px;
		  	height: 119px;
		  	background: url(../images/btn-shadow.png) 0 0 no-repeat;
		  	position: absolute;
		  	top: 1px;
		  	left: -22px;
		  	z-index: 1;
		}
	}

	&--gray {
	  	background-color: #f5f5f5;
	  	color: #66a3e4;
	  	font-size: 0.875em;
	  	font-weight: 400;
	  	text-transform: uppercase;
	  	-webkit-box-shadow: -3px 0 6px rgba(0, 0, 0, 0.1);
	  	box-shadow: -3px 0 6px rgba(0, 0, 0, 0.1);

		&:after {
  			opacity: 0.5;
  			height: 22px;
  			background-size: 100% 22px;
  			bottom: -22px;
		}
	}

	&--green {
  		background-color: #92B4B7;
  		color: #fff;
  		font-weight: 400;
  		text-transform: uppercase;
  		-webkit-box-shadow: -3px 0 6px rgba(0, 0, 0, 0.1);
  		box-shadow: -3px 0 6px rgba(0, 0, 0, 0.1);

		&:after {
  			opacity: 0.5;
  			height: 22px;
  			background-size: 100% 22px;
  			bottom: -22px;
		}
	}

	&--large {
	  	min-width: 190px;
	  	height: 85px;
	  	padding-top: 2.5em;
	}

	&--middle {
	  	height: 42px;
	  	width: auto;
	  	min-width: 0;
	  	max-width: none;
	  	font-size: 1em;
	 	padding: 12px 15px;
	}

	&--black {
	  	background-color: #4d5458;
	  	font-weight: 400;
	  	text-transform: uppercase;
	}

	&--white {
  		background-color: #fff;
  		color: #009d7e;
  		font-weight: 400;
  		text-transform: uppercase;
	}
}

input.btn--large {
  	padding-top: 2em;
}

.menu {
  	position: relative;
  	margin-left: 23px;

  	&--elit {
  		margin-top: 16px;
  		cursor: pointer;
  		margin-left: 3%;
	}
}

.elit-menu-img {
  	position: absolute;
  	cursor: pointer;
  	margin-left: 0;
  	margin-top: 0;
  	left: 0;
  	padding: 0.5rem;
  	text-align: center;
}

.page-head {
  	width: 74%;
  	position: relative;
  	z-index: 10;
  	display: inline-block;
  	vertical-align: top;
}

.page-title {
  	background-color: #3A3D46;
  	width: 468px;
  	height: 84px;
  	padding: 0 2em;
  	position: relative;
  	text-align: center;
  	z-index: 3;
  	display: table;
  	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

  	a {
	  	color: inherit;
	  	text-decoration: none;
	}

	&--elit {
	  	color: #fff;
	  	font-size: 0.9375em;
	  	font-weight: 400;
	  	text-transform: uppercase;
	  	width: auto;
	  	height: auto;
	  	padding: 0;
	  	border-bottom: 3px solid #009d7e;
	  	background-color: transparent;
	  	display: inline-block;
	  	vertical-align: top;
	  	margin-right: 3%;
	  	top: 0;
	  	text-decoration: none;
	  	margin-left: 0;
	  	margin-top: 0;
	}
}

.page-head {
  	min-width: 500px;
}

.rss {
	&__title {
  		color: #636363;
  		font-size: 0.875em;
  		font-weight: 700;
  		text-transform: uppercase;
  		display: inline-block;
  		margin: 0 0 0 6em;
  	}

  	&__form {
  		margin-top: -0.85em
  	}

  	.btn {
  		position: relative;
  		z-index: 2;
  	}
}

.rss-input {
  	width: 370px;
  	float: left;
  	margin-top: 1.45em;

  	&:after {
  		background-position: top right;
  		background-size: 616px 25px;
 	 	opacity: 0.7;
	}

	.form-input {
		  width: 100%;
  		color: #000401;
  		font-size: 1.125em;
  		font-weight: 300;
  		padding: 0.48em 1.125em;
  		border: none;
  		-webkit-box-shadow: none;
  		box-shadow: none;
  		height: 48px;
  		-webkit-box-sizing: border-box;
  		box-sizing: border-box;
	}

	&--small {
		width: 247px;
  		border-right: 1px solid #e1e1e1;
  		margin-right: -1px;
  		position: relative;
  		z-index: 2;

  		&:after {
			background-position: top left;
  		}

  		&:before {
  			content: '';
		  	position: absolute;
		  	top: 0;
		  	right: 100%;
		  	width: 10px;
		  	height: 63px;
		  	background: url(../images/left-shadow-angle.png) 0 0 no-repeat;
		  	background-size: 100% 100%;
		  	opacity: 0.4;
  		}
	}
}

.socials {
  	text-align: center;
  	margin: 0 0 2.3em;

  	&__item {
  		width: 34px;
		height: 35px;
		background-color: #c4c4c7;
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
		padding-top: 0.5em;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 17px;
		position: relative;
  	}
}

.aside-menu {
  	position: relative;
  	margin-bottom: 60px;
  	z-index: 6;
}

.building-image {
  	overflow: hidden;
  	position: relative;
  	height: 260px;
  	background-color: #92B4B7;

  	img {
  		width: 100%;
  		height: 100%;
  		display: block;
  		-o-object-fit: cover;
  		object-fit: cover;
	}
}

.building-info {
  	min-height: 100px;
  	padding: 1.375em 1.625em;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.building-name {
  	color: #000401;
  	font-weight: 400;
  	text-transform: uppercase;
  	text-decoration: none;
  	display: block;
  	height: 46px;
}
.building-address {
  	color: #898989;
  	font-size: 0.9375em;
  	font-weight: 300;
  	height: 46px;
	text-transform: uppercase;
}
.building-actions {
  	margin-top: 1.3em;
}

.like-block {
  	width: 60px;
  	height: 60px;
  	background-color: #fbfbfb;
  	-webkit-box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.2);
  	box-shadow: -2px 3px 9px rgba(0, 0, 0, 0.2);
  	text-align: center;
  	padding-top: 1.4em;
  	cursor: pointer;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.like-block .like-active,
.like-block .like-elit-active,
.like-block .elit-like-active-small {
  	display: none;
}

.like-block.active .like-active,
.like-block:hover .like-active,
.like-block.active .like-elit-active,
.like-block:hover .like-elit-active,
.like-block.active .elit-like-active-small,
.like-block:hover .elit-like-active-small {
  	display: inline-block;
}

.like-block.active .like,
.like-block:hover .like,
.like-block.active .like-elit,
.like-block:hover .like-elit,
.like-block.active .elit-like-small,
.like-block:hover .elit-like-small {
  	display: none;
}

.ajax-form-mess {
  	display: none;
  	font-size: 1em;
  	color: #009d7e;
  	margin: 1em 0;
  	padding: 1em;
  	background-color: #fff;
}

.ajax-form-mess--error {
  	color: #e41919;
}

.zoom-block {
  	width: 83px;
  	height: 59px;
  	background-color: #66a3e4;
  	text-align: center;
  	padding-top: 1.45em;
  	-webkit-box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  	box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  	cursor: pointer;

	&--small {
	  	width: 25px;
	  	height: 25px;
	  	background-color: transparent;
	  	padding: 0;
	  	-webkit-box-shadow: none;
	  	box-shadow: none;
	}
}

.contact-form {
  	background-color: #ececec;
  	width: 495px;
  	padding: 1.57em;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

  	.form-title {
	  	width: 120px;
	}
}
.form-title {
  	color: #010204;
  	font-size: 0.75em;
  	text-transform: uppercase;
  	margin-bottom: 2em;
  	font-weight: 400;
}

.form-input {
  	width: 100%;
  	height: 58px;
  	-webkit-box-shadow: inset -0.8px 2px 4px rgba(3, 4, 4, 0.23);
  	box-shadow: inset -0.8px 2px 4px rgba(3, 4, 4, 0.23);
  	padding: 0.75em 1em;
  	font-size: 1.125em;
  	background-color: #fff;
  	border: none;
  	color: #7f8180;
  	font-weight: 300;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.form-input.error {
  	border: 1px solid;
}

.form-input--small {
  	height: 28px;
  	width: 101px;
  	font-size: 1em;
  	text-transform: uppercase;
  	text-align: center;
  	font-weight: 600;
}

.form-input[disabled] {
  	background-color: #f7f7f7;
}

.form-input--middle {
  	height: 40px;
  	-webkit-box-shadow: none;
  	box-shadow: none;
  	border: 1px solid #c1c2c4;
  	width: 100%;
  	padding: 5px 8px;
  	color: #000401;
  	background-color: transparent;
}

.form-input--textarea {
  	resize: none;
  	height: 100px;
    font-family: "Circle";
}

.form-submit {
  	margin-top: 20px;
}

.form-label {
  	color: #000401;
  	font-size: 1.5625em;
  	font-weight: 300;
  	margin-bottom: 6px;
  	display: block;
}

.print-block {
  	background-color: #96989c;
  	width: 82px;
  	height: 82px;
  	text-align: center;
  	color: #fbfbfb;
  	font-size: 0.625em;
  	font-weight: 300;
  	text-transform: uppercase;
  	padding: 1.5em;
  	position: relative;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

  	&--white {
  		background-color: #fff;
  		color: #3A3D46;
  		font-weight: 400;
  		padding: 1.5em 1em;
	}

  	.pdf,
  	.pdf-black {
  		display: block;
  		margin: 0 auto 10px;
  	}
}

.map-block {
  	background-color: #fff;
  	color: #3A3D46;
  	font-weight: 400;
  	padding: 1.5em 1em;
  	width: 82px;
  	height: 82px;
  	font-size: 0.625em;
  	position: relative;
  	text-transform: uppercase;
  	text-align: center;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}
.map-block .sprite-icon {
  	display: block;
  	margin: 0 auto 10px;
}
.satellite-block,
.photo-block {
  	background-color: #fff;
  	color: #3A3D46;
  	font-weight: 400;
  	padding: 1.5em 1em;
  	width: 82px;
  	height: 82px;
  	font-size: 0.625em;
  	position: relative;
  	text-transform: uppercase;
  	text-align: center;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}
.satellite-block .sprite-icon,
.photo-block .sprite-icon {
  	display: block;
  	margin: 0 auto 10px;
}
.green-block{
  	background-color: #009d7e;
  	color: #fff;
  	font-weight: 400;
  	padding: 1.5em 1em;
  	width: 82px;
 	height: 82px;
  	font-size: 0.625em;
  	position: relative;
  	text-transform: uppercase;
  	text-align: center;
  	display: table;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.elit-actions-absolute{
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 82px;
  	z-index: 10;
}

.elit-actions-absolute .photo-block,
.elit-actions-absolute .map-block,
.elit-actions-absolute .print-block,
.elit-actions-absolute .satellite-block,
.elit-actions-absolute .green-block{
  	position: relative;
  	margin: 0 0 3px;
}

.elit-actions-absolute .tabs__links{
  	margin-top: 0;
}

.tabs {
  	position: relative;

  	&__item {
  		display: none;

	  	&.active {
	  		display: block;
		}
  	}

  	&__links {
  		margin-top: 5px;
  		position: relative;
	}
}

.elit-actions-absolute .like-block {
  	width: 82px;
  	height: 67px;
  	padding-top: 1.6em;
}

.obj-name {
  	color: #000401;
  	font-size: 1.06em;
  	font-weight: 400;
  	text-transform: uppercase;
  	margin-bottom: 10px;
}

/* .popup {
    display: none;
    min-width: 998px;
    max-width: 90%;

    .close {
      position: absolute;
    top: 50px;
    right: -50px;
    cursor: pointer;
    }

    &__content {
      padding: 50px 0;
  }
}

.popup__content > img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
} */

.link {
  	color: inherit;
  	text-decoration: none;
}

.link:hover {
  	text-decoration: underline;
}

.checkbox,
.hidden{
  	display: none;
}

.checkbox-wrap {
  	position: relative;
}

.checkbox-label {
  	font-size: 1em;
  	color: #3A3D46;
  	cursor: pointer;
  	position: relative;
}

.checkbox-icon {
  	width: 20px;
  	height: 20px;
  	border: 1px solid #c9cacb;
  	display: inline-block;
  	vertical-align: top;
	position: relative;
}

.checkbox-icon--radio {
	border-radius: 100%;
	margin-top: -2px;
}
.checkbox-text {
  	width: 65%;
  	display: inline-block;
  	vertical-align: top;
  	margin-left: 15px;
}
.checkbox:checked + .checkbox-label .checkbox-icon:after,
.checkbox.active + .checkbox-label .checkbox-icon:after{
  	position: absolute;
  	top: 5px;
  	left: 4px;
  	background: url('../images/sprite.png') -369px 0px no-repeat;
  	width: 13px;
  	height: 9px;
  	content: '';
}

.checkbox:checked + .checkbox-label .checkbox-icon--radio:after {
	background: #66a3e4;
	border-radius: 100%;
	height: 10px;
	width: 10px;
	top: 4px;
	left: 6px;
}

.checkbox:disabled + .checkbox-label .checkbox-icon {
  	background: #f7f7f7;
}

.checkbox:disabled + .checkbox-label .checkbox-text {
  	color: #ADAAAA;
}

.checkbox--green:checked + .checkbox-label .checkbox-icon:after,
.checkbox--green.active + .checkbox-label .checkbox-icon:after {
  	background-position: -412px 0px;
}

.form-line--custom {
	position: relative;
	margin-bottom: 10px;
}

.fotorama__nav--thumbs .fotorama__nav__frame {
  	padding-bottom: 0 !important;
}

.drop-form {
  	display: none;
  	position: absolute;
  	top: 100%;
  	right: 0;
  	width: 400px;
  	font-size: 1.46em;
  	text-align: left;
  	-webkit-box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.2);
  	box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.2);

  	&--top {
  		top: 0;
  		left: 100%;
  	}
}

.position-block {
  	position: relative;
}

.preloader {
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(255, 255, 255, 0.8);
  	z-index: 10000;
  	top: 0;
 	left: 0;
  	text-align: center;
  	display: none;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

  	img {
  		height: 64px;
  		width: auto;
  		position: relative;
  		top: 50%;
  		margin-top: -32px;
  	}
}

.elit hr {
  	border: none;
  	background-color: #616265;
  	height: 1px;
  	width: 100%;
  	margin: 7px 0;
}

.elit-item {
  	width: 49%;
  	margin-right: 2%;
  	float: left;
  	position: relative;
  	height: 370px;
  	overflow: hidden;

  	&:nth-child(2n) {
  		margin-right: 0;
	}

	.building-image {
		height: 370px;

		img {
			height: 100%;
  			width: 100%;
  			-o-object-fit: cover;
  			object-fit: cover;
  			overflow: hidden;
		}
	}

	.like-block {
  		background-color: rgba(82, 86, 98, 0.88);
  		width: 54px;
  		height: 54px;
  		position: absolute;
  		top: 0;
  		right: 0;
  		z-index: 8;
  		-webkit-box-shadow: none;
  		box-shadow: none;
	}

	.building-info-wrap {
	  	position: absolute;
	  	z-index: 4;
	  	background-color: rgba(82, 86, 98, 0.88);
	  	width: 100%;
	  	height: 100px;
	  	bottom: 0;
	  	left: 0;
	  	min-height: 0;
	  	line-height: 17px;
	  	-webkit-transition: all 0.3s ease-out;
	  	transition: all 0.3s ease-out;
	  	-webkit-box-sizing: border-box;
	  	box-sizing: border-box;
	}

	.building-info {
	  	background: none;
	  	padding: 0.7em 0.7em;
	  	color: #C1C1C1;
	}

	.building-name {
  		color: #fff;
  		font-size: 1.06em;
  		height: auto;
	}

	.building-direction {
  		font-size: 0.8125em;
  		color: #fff;
  		font-weight: 400;

  		&__label {
  			color: #C1C1C1;
  			font-weight: 300;
  			margin-right: 8px;
  		}
	}

	.building-actions {
  		font-size: 0.75em;
	}

	&--small {
		width: 24%;
	  	margin-right: 1%;
	  	height: 263px;

	  	.building-image {
		  	height: 263px;
		}

		.like-block {
		  	width: 45px;
		  	height: 45px;
		  	padding-top: 1em;
		}

		.building-info-wrap {
		  	background-color: rgba(82, 86, 98, 0.7);
		  	top: auto;
		  	bottom: 0;
		}

		.building-info {
		  	padding: 0.5em 0.85em;
		  	min-height: 0;
		}

		.building-name {
  			font-size: 0.875em;
 			height: auto;
		}

		.building-direction__label {
  			margin: 0 4px 0 0;
		}

		.building-actions {
 			 margin-top: 0;
		}

		.building-direction {
  			line-height: 1.2;
  			margin-bottom: 5px;
  			font-size: 0.75em;
		}

		.building-direction.info-list {
  			height: auto;
		}

		.building-price {
  			font-size: 1.125em;
  			font-weight: 600;
  			color: #fff;
		}
	}
}

.info-list {
  	font-size: 0.8125em;
}

.building-id {
  	background-color: #f2f2f2;
  	color: #3A3D46;
  	font-size: 1.1em;
  	font-weight: 600;
  	text-transform: uppercase;
  	float: right;
  	width: 185px;
  	height: 48px;
  	padding: 0 1.5em;
  	line-height: 48px;
  	margin: -1.1em -1.5em;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

  	&__text,
  	&__number {
		display: inline-block;
		vertical-align: middle;
  	}

  	.price--dbl{
  		line-height: 1.2;
  		padding-top: 0.5em;
	}
}

.multi-valute{
  	display: block;
  	font-size: 0.6em;
}

.building-id__number {
  	color: #009d7e;
  	font-size: 1.4em;
  	font-weight: 400;
  	margin-left: 10px;
}

.aside-slide-popup {
  	position: fixed;
  	top: 0;
  	right: -60%;
  	width: 29%;
  	background-color: #e4e4e4;
  	z-index: 600;
  	height: 100%;
  	overflow-y: auto;
  	padding: 5% 2% 2%;
  	-webkit-transition: all .2s;
  	transition: all .2s;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  	min-width: 443px;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	visibility: hidden;

  	.active {
  		right: 0;
  		visibility: visible;
  	}

  	.close-popup {
  		position: fixed;
  		top: 30px;
  		right: 5%;
  		cursor: pointer;
	}

	.btn {
  		margin-bottom: 25px;
  		height: auto;
  		min-height: 42px;
  		padding-bottom: 8px;
	}
}

.assessment-send-form {
  	width: 320px;
}

.title {
  	color: #3A3D46;
  	font-size: 2.25em;
  	font-weight: 200;
  	text-transform: uppercase;
  	margin-bottom: 1em;
}

.main-filter {
  	width: 345px;
  	padding-right: 25px;
  	margin-bottom: 50px;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

  	&__drop {
  		display: block;
  		margin-bottom: 35px;

  		.position-block {
  			margin-bottom: 10px;
		}
  	}

  	&__tab {
  		color: #000401;
  		font-size: 1.5625em;
  		font-weight: 300;
  		cursor: pointer;

  		.active {
  			margin-bottom: 20px;
  			color: #009d7e;
  		}
	}

	.filter-input {
		margin-left: 10px;
  		padding-left: 40px;

  		&--postfix {
  			padding-left: 8px;
  			padding-right: 40px;
		}
	}
}

.popup-menu__item {
  	text-decoration: none;
  	text-transform: uppercase;
  	color: #3A3D46;
  	font-size: 1.25em;
  	display: block;
  	margin-bottom: 15px;
  	font-weight: 300;

  	&--small {
  		font-size: 1.0625em;
  		margin-bottom: 0.5em;
	}

  	&--big {
  		font-size: 1.875em;
	}
}

.popup-menu .socials {
  	text-align: left;
  	margin-bottom: 0;
}

.popup-menu .socials__item {
  	text-align: center;
}
.direction-list {
  	margin-bottom: 30px;
  	max-height: 270px;
  	overflow-y: auto;

  	.checkbox-wrap {
  		border-top: 1px solid #c1c2c4;
		border-bottom: 1px solid #c1c2c4;
		margin-bottom: -1px;
		padding: 8px 0;
		margin-right: 7%;
  	}

  	.checkbox-text {
  		margin-left: 20px;
	}
}

.elit-slider {
  	width: 60%;
  	display: table-cell;
  	max-width: 600px;
  	padding-top: 92px;
  	padding-bottom: 40px;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

.objects-similar .elit-item:nth-child(2n) {
  	margin-right: 1%;
}

.objects-similar .elit-catalog {
  	margin-top: 40px;
}

.elit-info-wrap {
  	width: 40%;
  	max-width: 700px;
  	background-color: #e4e4e4;
  	display: table-cell;
  	position: relative;
  	overflow: hidden;
	
	.editable-text {
  		margin-top: 40px;
  		max-height: 940px;
	}

	.editable-text {

		h2 {
			color: #009d7e;
  			font-size: 1.5em;
  			margin: 0 0 20px;
  			font-weight: 400;
		}

		p {
			margin: 0 0 10px;
		}
	}
}

.elit-info {
  	margin-top: 40px;
  	padding: 0 12% 92px;
  	height: 660px;
  	overflow: auto;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;

  	.obj-name {
  		color: #3A3D46;
  		font-size: 2.25em;
  		font-weight: 300;
  		text-transform: uppercase;
  		margin-bottom: 0.5em;
  	}

  	.obj-direction {
  		font-size: 1.125em;
  		color: #000;
  		margin-bottom: 38px;
	}

	.obj-price {
  		color: #3A3D46;
  		font-size: 3.125em;
  		font-weight: 400;
  		line-height: 1;
  		margin-bottom: 0.75em;
	}

	.btn {
		margin-bottom: 30px;
	}

	.obj-price-block {
		float: left;
		margin-right: 2%;
	}

	.contacts .phone {
  		color: #000;
  		font-size: 1.875em;
  		font-weight: 300;
  		text-transform: uppercase;
  		margin-bottom: 45px;

  		a {
  			color: #000;
  			text-decoration: none;
  		}
	}

	.manager__image {
  		width: 35%;
  		max-width: 135px;
  		max-height: 155px;
  		overflow: hidden;
  		display: inline-block;
  		vertical-align: middle;
  		margin-right: 8%;

  		img {
  			width: 100%;
  		}
	}

	.manager__info {
	  	display: inline-block;
	  	vertical-align: middle;
	  	font-weight: 300;
	  	width: 55%;
	}

	.manager__name{
  		color: #009d7e;
  		font-size: 1.25em;
  		font-weight: 600;
	}

	.manager__job{
  		color: #4d4d4d;
  		font-size: 1em;
  		margin-bottom: 1em;
	}

	.manager__contacts{
  		color: #000401;
  		font-size: 1em;
  		font-weight: 400;
	}
}

.inherit-link {
  	text-decoration: none;
  	color: inherit;
}

.obj-charact {
  	width: 80%;
  	color: #4d4d4d;
  	font-size: 1.25em;
  	line-height: 22px;
  	margin-bottom: 25px;
  	font-weight: 300;

  	&__line {
  		margin-bottom: 5px;
	}

	&__term {
  		font-weight: 600;
  		margin-right: 8px;
	}
}

.obj-add-info {
  	display: none;
  	margin-bottom: 30px;
  	width: 85%;

  	&--visible {
  		display: block;
	}
}

.elit-table {
  	display: table;
  	width: 100%;
}

.elit-tabs-link.active {
  	display: none;
}

.map-elit {
  	width: 100%;
  	height: 880px;
}
.elit-detail {
  	position: relative;
  	z-index: 1;
  	top: -50px;
  	padding-bottom: 50px;

  	.obj-add-info {
  		padding-left: 0;
  		max-height: none;
  	}

  	.page-title {
  		margin-left: 35%;
  		top: 7px;
  		margin-bottom: 0;
	}

	.building-id {
  		background-color: #fff;
  		max-width: 180px;
  		position: static;
  		right: 0;
  		top: 115px;
  		z-index: 3;
  		padding: 3% 3% 0.3%;
  		float: none;
  		margin: 0;
  		line-height: 1.2;
  		height: auto;
  		font-size: 1.0625em;
  		min-width: 0;

  		&__number {
  			margin: 0;
  			font-size: 2.9375em;
 	 		font-weight: 300;
  		}
	}

	.zoom-block {
		position: absolute;
  		top: 20px;
  		left: 55px;
  		z-index: 10;
	}
}

.elit-table {
  	display: table;
  	width: 100%;
}

.fotorama--with-arrows .fotorama__arr {
  	top: auto;
  	bottom: 50%;
  	background: url(../images/sprite.png) -944px 0px no-repeat;
  	width: 10px;
  	height: 21px;
  	left: 8%;
}

.fotorama--with-arrows .fotorama__arr--next {
  	background-position: -1657px 0px;
  	left: auto;
  	right: 7.5%;
}

.input-postfix {
  	position: absolute;
  	left: 10px;
  	width: 40px;
  	text-align: center;
  	line-height: 40px;
  	top: 0;
}

.input-postfix {
  	left: auto;
  	right: 0;
}

.invisible {
  	visibility: hidden;
}

.send-assessment {
  	width: 80%;
  	font-size: 1.25em;
}

.editable-text {
  	opacity: 0.8;
  	font-weight: 400;
  	padding-left: 2.375em;
  	margin-bottom: 35px;

  	h4 {
  		font-size: 1.875em;
  		font-weight: 300;
  		margin: 0 0 0.5em;
  	}

  	p {
  		margin: 0 0 0.85em;
  	}

  	ul {
  		list-style: none;
  		margin: 1em 0;
  		padding-left: 20px;
  	}

  	ul li {
  		position: relative;

  		&:after {
  			content: '';
  			width: 4px;
  			height: 4px;
  			background-color: #009d7e;
  			position: absolute;
  			top: 8px;
  			left: -15px;
  		}
  	}

  	img {
  		margin: 1em 0.85em 0 0;
  		max-width: 100%;
  		height: auto;
  	}
}

[name="google_conversion_frame"]{
  	display: none;
}

.radio {
  	float: left;
}
.radio input[type="radio"] {
  	display: none;
}
.radio input[type="radio"] + label {
  	color: #7f8180;
  	font-size: 16px;
}
.radio input[type="radio"] + label span {
  	display: table-cell;
  	width: 234px;
  	height: 58px;
  	vertical-align: middle;
  	text-align: center;
  	cursor: pointer;
  	-webkit-box-shadow: inset -0.8px 2px 4px rgba(3, 4, 4, 0.23);
  	box-shadow: inset -0.8px 2px 4px rgba(3, 4, 4, 0.23);
}
.radio input[type="radio"] + label span {
  	background-color: #fff;
}
.radio input[type="radio"]:checked + label span {
  	background-color: #66a3e4;
  	color: #fff;
}

.elit-info-wrap {
  	padding-top: 80px;
}

.elit-info-wrap .building-id {
  	display: inline-block;
  	vertical-align: bottom;
  	z-index: 2;
}

.elit-info-wrap .like-block {
  	display: inline-block;
  	vertical-align: bottom;
  	z-index: 1;
  	margin-left: -0.25em;
  	box-shadow: none;
  	background: rgba(82, 86, 98, 0.48);
}

.left_lnk {
  	margin-left: 20px;
  	text-align: center;
  	display: block;
}

.elite-rss {
  	position: absolute;
  	left: 3.5%;
  	width: 160px;
  	top: 306px;
  	box-sizing: border-box;
  	padding: 10px;
  	margin-top: 20px;
  	background: rgba(0,0,0,0.5);
}

.elite-rss .rss__title {
  	color: #fff;
  	margin: 0;
}

.elite-rss .rss-input {
  	width: 100%;
  	border: 0;
  	margin: 0;
  	margin-bottom: 10px;
}

.elite-rss .rss-input:before,
.elite-rss .rss-input:after,
.elite-rss .btn--with-shadow:after {
  	height: 0;
}

.elite-rss .rss__form {
  	margin: 0;
}

.elite-rss .btn--with-shadow, .elite-rss .btn--with-shadow .btn {
  	width: 100%;
}

.elite-rss .btn--with-shadow .btn  {
  	padding: 5px 0;
  	background: #009d7e;
}

@media all and (max-width: 1200px) {
  	.elit-info {
		padding: 0 4% 92px;
  	}
}

@media all and (max-width: 1365px) {
  	.elit-info {
		width: 100%;
  	}

	.elite-rss {
		position: relative;
		top: 20px;
		left: 0;
		float: right;
		margin-right: calc(50% - 450px);
	}
}
@media all and (max-width: 1680px) {
  	.elit-item .building-info-wrap {
		height: 95px;
  	}

  	.elit-item:hover .building-info-wrap {
		top: calc(100% - 95px);
  	}

  	.left_lnk {
		display: none;
  	}
}

.aside-slide-popup .title {
  	margin-bottom: 0.5em;
}

.aside-slide-popup .main-filter__tab.active {
  	margin-bottom: 10px;
}

.aside-slide-popup .main-filter__drop {
  	margin-bottom: 15px;
}

.elite-rss--detail {
  	position: relative;
  	left: 0;
  	width: 90%;
  	top: 0;
  	margin-right: 0;
  	float: none;

  	.btn {
  		margin-bottom: 0;
  	}
}
/*стили для контента*/
.elite-detail-scb {
	border: 2px solid #009d7e;
	float: left;
	font-size: 15px;
	text-align: center;
	padding: 28px 10%;
	color: #009d7e;
}

.elit-item--small .building-info-wrap {
  	height: auto;
  	padding: 0.2rem;
}
.elit-item--small:hover .building-info-wrap {
	top: auto;
}
.elit-item--small .building-info {
  	padding: 0;
}
.elit-item--small .building-direction {
  	margin-bottom: 0;
  	font-size: 0.7em;
}

h1.page-title--elit {
  	margin-right: 0;
  	margin-bottom: 0;
}

.offer-price {
  	margin-bottom: 5px; 
  	position: relative;

  	&__link {
  		display: inline-block;
	  	position: relative; 
	  	border: 2px solid #009d7e; 
		border-radius: 4px 0 0 4px;   
		font-size: 15px;
		text-align: center; 
	  	text-decoration: none;
		padding: 10px;
		color: #009d7e;
	  	box-sizing: border-box;

	  	&:before,
	  	&:after {
	  		position: absolute;
  			content: '';
	  	}

	  	&:before {
			top: -1px;
			bottom: 0;
			border: solid 0px transparent;
			border-top-width: 18px;
			border-bottom-width: 18px;
			border-left: solid 14px #e4e4e4;
  			z-index: 1;
  			right: -14px;
	  	}

	  	&:after {
			top: -2px;
			bottom: 0;
			border: solid 0px transparent;
			border-top-width: 19px;
			border-bottom-width: 19px;
			border-left: solid 14px #009d7e;
  			right: -16px;
	  	}
  	}

  	.drop-form {
  		top: 20px;
		  left: 0;
		  right: 0;
		  bottom: auto;
  		width: inherit; 
  		background: #ececec;
  		font-size: 14px;
  		padding: 1.57em;
  		z-index: 1;
		  position: relative;
  	}

  	.btn {
  		width: 100%;
	}
}

.active-drop {
  	display: block;
}


.type-currency {
  	display: inline-block;
  	margin: 10px 10px 10px 0; 

  	&__input {
  		visibility: hidden;
  	}

  	&__label {
  		position: relative;
  		font-weight: 600;
  		display: inline-block;
  		height: 21px;
  		width: 24px;
  		line-height: 24px;
  		text-align: center;
  		cursor: pointer;

  		&:after,
  		&:before {
	  		position: absolute;
	  		content: '';  
	  		top: 0;
	  		left: 0;
	  		width: 100%;
	  		height: 100%;
	 		box-sizing: border-box; 
  		}

  		&:before {
		  	border: 1px solid rgba(0, 0, 0, 0.4); 
		}

		&:after {
		  	background: rgba(0, 0, 0, 0.4);   
		  	z-index: 1; 
		  	display: none;
		}
  	}  	
}

.type-currency__input:checked + .type-currency__label {
  	color: #000;
}

.type-currency__input:checked + .type-currency__label:before {
  	border: none;
}
.type-currency__input:checked + .type-currency__label:after {
  	display: block;
}

.div_input_my_price {
	float: left;
	width: 93%;
}

.div_img_my_price {
	float: left;
	width: 7%;

	img {
		width: 50%;
		margin-left: 20%
	}
}

.elit-slider .drop-form--top {
  	right: 100%;
  	left: auto;
}

.elit-detail .page-head {
  	z-index: 9;
}

.offer-price .close-popup {
  	position: absolute;
  	right: 10px;
  	top: 10px;
  	left: auto;
  	cursor: pointer;
}

.left-elit-menu {
  	left: -60%;
  	right: auto;

  	&.active {
		left: 0;
		right: auto;
  	}
}

.page-title--elit h1 {
  	font-size: 0.9375em;
  	font-weight: 400;
  	text-transform: uppercase;
  	margin-bottom: 0;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  padding-right: 0 !important;
  text-align: center;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  height: 100%;

  &:before {
    content:"";
    display: inline-block !important;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }

  &--fotorama {
    background: #838690;
  }
}

.modal, .modal-open {
  overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content {
    z-index: 9999;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    white-space: normal;
    max-width: 90%;
    min-width: 998px;

    &--form {
      min-width: 360px;
    }
}

#scb_block {
    color: #000000;
    width: 360px;
    height: auto;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
    z-index: 16777001;
    position: relative;
    box-sizing: content-box;
    min-width: 360px;
}

#scb_inner_tpl {
    font: 12px/18px "Myriad Pro", Helvetica, Arial, Verdana, sans-serif;
    color: #333 !important;
    font-weight: lighter !important;
    position: static;
}

.scb_footer {
    bottom: 12px !important;
    color: #aaacad !important;
    font-size: 13px !important;
    position: absolute !important;
    right: 25px !important;
    text-align: right !important
}

.scb_footer a {
    color: #aaaaaa !important;
    text-decoration: none;
    display: block;
    text-align: right;
}

.scb_footer a:hover {
    color: #000000 !important;
    transition: all 0.3s ease-out;
}

.scb_titles {
    font-size: 22px !important;
    color: #000000;
    line-height: 28px !important;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.scb_button {
    display: inline-block;
    line-height: 120%;
    padding: 13px 0px;
    text-align: center;
    width: 295px;
    background: #e9eaee;
    color: #9d9ea1;
    border-radius: 5px;
    font-size: 12pt;
    margin-bottom: 20px;
}

.scb_button:hover {
    background: #019e97;
    color: #ffffff;
    transition: background .3s ease-out;
    cursor: pointer
}

.scb_red_button {
    background: #fc6552;
    color: #ffffff;
    text-transform: uppercase;
}

.scb_bordered {
    border: 1px solid #e9eaee;
    border-radius: 5px;
    width: 360px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#scb_close_tpl {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 31px;
    height: 31px;
    z-index: 16777002;
    background: url(//core.smartcallback.ru/templates/official-scb/images/close2.png) no-repeat;
}

#scb_close_tpl:hover {
    color: #488cd4;
    cursor: pointer;
    background: url(//core.smartcallback.ru/templates/official-scb/images/close2.png) 0 -31px no-repeat;
}

.scb_text {
    margin-top: 15px;
    font-size: 11pt;
    color: #333333;
    text-align: center;
}

.scb_sel {
    color: #019e97;
}

.scb_fsize_90 {
    font-size: 12pt;
    text-transform: none;
    line-height: 18px;
}

.scb_inputs {
    color: #555555;
    /*margin-bottom: 15px !important;*/
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 12pt !important;
    padding: 8px 10px !important;
    outline: none;
    display: inline-block;
    width: 290px !important;
    padding: 0 10px \9;
    height: auto !important;
    /*margin: 0 0 15px 33px !important;*/
    margin: 0 auto !important;
    background: #f6f6f6;
}

textarea.scb_inputs {
    margin-top: 5px !important;
}

#sample_countdown,
#sample_countdown_no {
    font-size: 24pt;
    color: #999;
    margin-bottom: 0px;
    display: block;
    margin-top: 20px;
}

.scb_notShow {
    position: absolute;
    bottom: 15px;
    color: #aaaaaa;
    left: 25px;
}

.scb_notShow input,
.scb_notShow label {
    position: static !important;
    float: left;
    font-size: 9pt;
    line-height: 13px;
    margin: 0;
    padding: 0;
    border: 0;
    text-transform: none;
    text-decoration: none;
}

.scb_notShow input {
    width: 20px;
    text-align: left;
}

.scb_foot_block {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e9eaee;
    width: 100%;
    height: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.scb_prim {
    color: #cccccc;
    margin-bottom: 12px;
}

.scb_w200 {
    width: 190px;
    width: 160px;
    width: 190px;
}

.scb_link {
    border-bottom: 1px dotted #019e97;
    color: #019e97;
    font-size: 8pt;
    line-height: 30px;
    cursor: pointer;
}

.scb_link:hover {
    border: 0;
}

#scb_udobnoe_block_no,
#scb_udobnoe_block {
    width: 360px;
    min-width: 180px;
    line-height: 42px;
}

.noresize {
    resize: none !important;
}

.scb_inputs::-webkit-input-placeholder {
    color: #aaa;
}

.scb_inputs::-moz-placeholder {
    color: #aaa;
}

.scb_selects {
    border: 1px solid #c2c2c2!important;
    padding: 2px 4px!important;
    margin: 5px;
    background: none!important;
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    border-radius: 4px!important;
    font-size: 16px!important;
    width: 55px!important;
    height: 32px!important;
    display: inline!important;
}

.scb_selects2 {
    width: 310px !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    height: 30px !important;
    vertical-align: middle !important;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px !important;
    font-family: Helvetica, Arial, sans-serif !important;
    margin-bottom: 15px !important;
}

#scb_phone_input {
    /*float:none;
    clear:both;
    transition:none;*/
    display: inline-block;
}

#jivo_magic_iframe {
  display: none !important;
}

input[name=popup_name] {
  margin-top: 10px !important;
}

.middle-text {
  display: table-cell;
  vertical-align: middle;
}
.sub-directory {
  color: #3A3D46;
  text-decoration: none;
  font-size: 2em;
  margin: 0px 0 20px;
  display: inline-block;
}