//- background colors

@bg: #282f36;

//- sizes
@header-height: 80px;
@footer-height: 70px;
@header-min-height: 50px;

//- font colors

@white: #fff;
@black: #000;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/.eot?g2xrx9');
  src:  url('../fonts/icomoon/icomoon.eot?g2xrx9#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?g2xrx9') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?g2xrx9') format('woff'),
  url('../fonts/icomoon/icomoon.svg?g2xrx9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-odnoklassniki:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-vk:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-facebook-f:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-location2:before {
  content: "\e948";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-heart:before {
  content: "\e901";
}
.icon-list:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e904";
}

/* fonts */
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Bold.woff') format('woff'), url('../fonts/Circe/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe/Circe-ExtraBold.ttf') format('truetype'), url('../fonts/Circe/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-ExtraLight.woff') format('woff'), url('../fonts/Circe/Circe-ExtraLight.ttf') format('truetype'), url('../fonts/Circe/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Light.woff') format('woff'), url('../fonts/Circe/Circe-Light.ttf') format('truetype'), url('../fonts/Circe/Circe-Light.svg#Circe-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Regular.woff') format('woff'), url('../fonts/Circe/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe/Circe-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe/Circe-Thin.woff') format('woff'), url('../fonts/Circe/Circe-Thin.ttf') format('truetype'), url('../fonts/Circe/Circe-Thin.svg#Circe-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Circe/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/Circe/OpenSans.woff') format('woff'), url('../fonts/Circe/OpenSans.ttf')  format('truetype'), url('../fonts/Circe/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
