- var title= 'Детальная мобилка'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body.elite
        .content
            include /blocks/header.jade
            div.mm-page.mm-slideout(id="mm-0")
                div(id="panel")
                div.c-popup.popup
                    div.c-popup-close.close-popup
                        div.iconmobile-a6
                    div.popup__content
                div.elite_container-item
                    div.c-elite-fotorama.fotorama_relative
                        div.swipe.elite-slider(style="visibility: visible;")
                            div.swipe-wrap(style="width: 13056px;")
                                div(data-index="0" style="width: 768px; left: 0px; transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);")
                                    img(src="/images/content/1.jpg")
                                div(data-index="1" style="width: 768px; left: -768px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/3.jpg")
                                div(data-index="2" style="width: 768px; left: -1536px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/4.jpg")
                                div(data-index="3" style="width: 768px; left: -2304px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/5.jpg")
                                div(data-index="4" style="width: 768px; left: -3072px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/6.jpg")
                                div(data-index="5" style="width: 768px; left: -3840px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/7.jpg")
                                div(data-index="6" style="width: 768px; left: -4608px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/8.jpg")
                                div(data-index="7" style="width: 768px; left: -5376px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/9.jpg")
                                div(data-index="8" style="width: 768px; left: -6144px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/10.jpg")
                                div(data-index="9" style="width: 768px; left: -6912px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/11.jpg")
                                div(data-index="10" style="width: 768px; left: -7680px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/12.jpg")
                                div(data-index="11" style="width: 768px; left: -8448px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/14.jpg")
                                div(data-index="12" style="width: 768px; left: -9216px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/15.jpg")
                                div(data-index="13" style="width: 768px; left: -9984px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/16.jpg")
                                div(data-index="14" style="width: 768px; left: -10752px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/17.jpg")
                                div(data-index="15" style="width: 768px; left: -11520px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/21.jpg")
                                div(data-index="16" style="width: 768px; left: -12288px; transition-duration: 0ms; transform: translate(768px, 0px) translateZ(0px);")
                                    img(src="/images/content/2.jpg")
                        div.c-slide_prev.slider_prev
                            div.ico.iconmobile-a41
                        div.c-slide_next.slider_next
                            div.ico.iconmobile-a42
                    div.elite-map.c-emap-sp(id="map")
                    div.elite-map.c-emap-sat(id="satellit")
                    div.elite__top
                        div.left-block
                            div.fullscreen-elite.c-fscreen_el.c-popup_slider.c-popup__link(data-toggle="modal" href="#modal_elit")
                                i.ico.iconmobile-a36
                            div.pdf-elite(onclick="window.open(&#39;/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4954/pdf/&#39;)")
                                i.ico.iconmobile-a30
                                span.text_ico PDF
                        div.right-block
                            div.dropdown-section
                                div(href="#modal_contact" data-toggle="modal")
                                    span.name Контактное лицо (1)
                                    span.dropdown-arrow
                                        span.ico
                                            div.iconmobile-a1
                    div.elite__bottom
                        div.name_project
                            div.text Куркино
                        div.buttons-elite
                            div.buttons-elite__item
                                a.buttons-elite__link.c-elit-photo_click.c-button-elite_pr(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4954/#" data-hide=".c-emap-sp, .c-emap-sat" data-show=".c-elite-fotorama" data-fscreen="photo") Фотографии
                            div.buttons-elite__item
                                a.buttons-elite__link.c-map-link.c-elit-mapsp_click.c-button-elite_pr(data-map-id="map" data-placemarks-json="/local/templates/elite.mobile/components/metrium/zagorodnaya-nedvizhimost.detail/.default/ajax/elite-coordinate.php?lat=55.890016454873&amp;lon=37.393031111084" data-hide=".c-elite-fotorama, .c-emap-sat" data-show=".c-emap-sp" data-type="yandex#map") На карте
                            div.buttons-elite__item
                                a.buttons-elite__link.c-map-link.c-elit-mapsat_click.c-button-elite_pr(data-map-id="satellit" data-placemarks-json="/local/templates/elite.mobile/components/metrium/zagorodnaya-nedvizhimost.detail/.default/ajax/elite-coordinate.php?lat=55.890016454873&amp;lon=37.393031111084" data-hide=".c-elite-fotorama, .c-emap-sp" data-show=".c-emap-sat" data-type="yandex#satellite") Со спутника
                        div.id-project
                            span.id-project__name ID объекта
                            span.id-project__id 4954
                div.elite_more-inf.clearfix
                    div.price 10 000 000 $
                    div.price.price-small 560 794 000 руб.
                    div.elite-list__like.c-like(data-action="like" data-obj_id="93450" data-ajax_url="/local/templates/.default/ajax/like.php")
                        i.iconmobile-a17.ico
                    //- <!--Предложить свою цену -->
                    div.clearfix
                    div.offer-price.c-popup__link(data-toggle="modal" href="#modal_price") Предложить свою цену
                div.elit_information
                    div.address
                        div.obj-charact__line
                            span.obj-charact__term Адрес: 
                            | Россия, Москва, Северо-Западный административный округ, район Куркино
                        div.obj-charact__line
                            span.obj-charact__term Направление: 
                            | Куркинское
                        div.obj-charact__line 6 км. от МКАД
                        div.obj-charact__line
                            span.obj-charact__term Площадь дома:
                            | 1100 кв. м
                        div.obj-charact__line
                            span.obj-charact__term Площадь участка:
                            | 114 соток
                        div.obj-charact__line
                            span.obj-charact__term Охраняемый:
                            | Да
                        div.obj-charact__line
                            span.obj-charact__term Материал дома:
                            | Кирпич
                        div.obj-charact__line
                            span.obj-charact__term Отделка:
                            | Под ключ с мебелью
                        div.obj-charact__line
                            span.obj-charact__term Этажи/уровни:
                            br
                            | Цоколь: бассейн, баня на дровах, массажный кабинет, бойлерная, тех помещения
                            br
                            | 1 этаж: гардеробная, прихожая, холл, гостевая спальня с гардеробной и с/у, каминная, лифт, кухня, столовая, техническая кухня
                            br
                            | 2 этаж: библиотека, бильярдная, хозяйская спальня с с\у и гардеробной, кабинет, две гостевые спальни с с/у, спальня с с/у и гардеробной
                        div.obj-charact__line
                            span.obj-charact__term Коммуникации: 
                            | центральные
                    form(id="test" name="PHONE_WHATSAPP" action="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4954/" method="POST" enctype="multipart/form-data")
                        input(type="hidden" name="sessid" id="sessid" value="b8219f3d7ad186d11ead3a158ad77476")
                        input(type="hidden" name="WEB_FORM_ID" value="10")
                        div(id="whatsapp_form")
                            br
                            | Введите Телефон:
                            input(type="text" id="input_whatsapp" name="form_text_105" value="" size="0")
                            input(type="text" style="display:none" name="form_url_106" value="http://www.metrium.ru:80/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4954/" size="0")
                            input(type="hidden" name="web_form_apply" value="Y")
                            input(style="display:none" type="submit" name="mySubmit" value="Применить")
                    div
                        a.article-footer__whatsapp(onclick="show_whatsapp();")
                            span.article-footer__whatsapp-icon
                                span.sprite-whatsapp-white
                            span.article-footer__whatsapp-title Отправить в WhatsApp
                    br
                    div.desc
                        | Уникальное предложение!
                        br 
                        | Шикарный дом на большом красивом участке с видом на гольф-поля!
                    div.ya-share2.ya-share2_inited(style="margin-top: 12px; text-align: center;" data-services="vkontakte,facebook,odnoklassniki" data-title="Куркино" data-image="http://www.metrium.ru/upload/resize_cache/iblock/540/537_370_1815486afac09fb81635c76cff1b2544f/01_m.jpg" data-description="Мне нравится" data-counter="")
                        div.ya-share2__container.ya-share2__container_size_m
                            ul.ya-share2__list.ya-share2__list_direction_horizontal
                                li.ya-share2__item.ya-share2__item_service_vkontakte
                                    a.ya-share2__link(href="https://vk.com/share.php?url=http%3A%2F%2Fwww.metrium.ru%2Fzagorodnaya-nedvizhimost%2Fkottedzhi_taunkhausy%2F4954%2F&amp;title=%D0%9A%D1%83%D1%80%D0%BA%D0%B8%D0%BD%D0%BE&amp;description=%D0%9C%D0%BD%D0%B5%20%D0%BD%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D1%81%D1%8F&amp;image=http%3A%2F%2Fwww.metrium.ru%2Fupload%2Fresize_cache%2Fiblock%2F540%2F537_370_1815486afac09fb81635c76cff1b2544f%2F01_m.jpg&amp;utm_source=share2" rel="nofollow" target="_blank" title="ВКонтакте")
                                        span.ya-share2__badge
                                            span.ya-share2__icon
                                            span.ya-share2__counter 0
                                        span.ya-share2__title ВКонтакте
                                li.ya-share2__item.ya-share2__item_service_facebook
                                    a.ya-share2__link(href="https://www.facebook.com/sharer.php?src=sp&amp;u=http%3A%2F%2Fwww.metrium.ru%2Fzagorodnaya-nedvizhimost%2Fkottedzhi_taunkhausy%2F4954%2F&amp;title=%D0%9A%D1%83%D1%80%D0%BA%D0%B8%D0%BD%D0%BE&amp;description=%D0%9C%D0%BD%D0%B5%20%D0%BD%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D1%81%D1%8F&amp;picture=http%3A%2F%2Fwww.metrium.ru%2Fupload%2Fresize_cache%2Fiblock%2F540%2F537_370_1815486afac09fb81635c76cff1b2544f%2F01_m.jpg&amp;utm_source=share2" rel="nofollow" target="_blank" title="Facebook")
                                        span.ya-share2__badge
                                            span.ya-share2__icon
                                            span.ya-share2__counter 0
                                        span.ya-share2__title Facebook
                                li.ya-share2__item.ya-share2__item_service_odnoklassniki
                                    a.ya-share2__link(href="https://connect.ok.ru/offer?url=http%3A%2F%2Fwww.metrium.ru%2Fzagorodnaya-nedvizhimost%2Fkottedzhi_taunkhausy%2F4954%2F&amp;title=%D0%9A%D1%83%D1%80%D0%BA%D0%B8%D0%BD%D0%BE&amp;description=%D0%9C%D0%BD%D0%B5%20%D0%BD%D1%80%D0%B0%D0%B2%D0%B8%D1%82%D1%81%D1%8F&amp;imageUrl=http%3A%2F%2Fwww.metrium.ru%2Fupload%2Fresize_cache%2Fiblock%2F540%2F537_370_1815486afac09fb81635c76cff1b2544f%2F01_m.jpg&amp;utm_source=share2" rel="nofollow" target="_blank" title="Одноклассники")
                                        span.ya-share2__badge
                                            span.ya-share2__icon
                                            span.ya-share2__counter 0
                                        span.ya-share2__title Одноклассники
                            iframe.ya-share2__iframe(src="https://yastatic.net/share2/v-1.16.0/frame.html?namespace=ya-share2.0.053525820515336386" style="border: 0; display: none;position: absolute; left: -9999px;")
                div.rss.clearfix
                    div.rss-elite
                        form.form-delivery.c-ajaxForm(action="http://www.metrium.ru/ajax.forms.php?FORM=subscribe" method="post")
                            div.delivery-title Рассылка актуальных выгодных предложений
                            div.ajax-form-mess.c-ajax-form-mess
                            div.form-delivery__item
                                div.block-delivery
                                    input.delivery-input(type="text" placeholder="ФИО" name="UF_NAME" data-validation="required")
                                    input.delivery-input(type="text" placeholder="Адрес электронной почты" name="email" data-validation="email")
                                div.delivery-sub-par
                                    input.delivery-submit(type="submit" value="Хочу")
                                input(type="hidden" name="rubric" value="4")
                                div.float_clear
                div.title-page-all ПОХОЖИЕ объекты на Куркино
                div.elite-list.clearfix
                    div.elite-list__item
                        div.elite-list__rightb.elite-list__rightb--abs
                            div
                                div.price 8 000 000 $
                                br
                                div.price.price--small 448 635 200 руб.
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2328/")
                            img(src="/images/content/01.jpg")
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2328/")
                            div.elite-list__content
                                div.name ЛАНДШАФТ
                                div.address Направление: Рублево-Успенское
                                    br 
                                    | 8 км. от МКАД
                                    br
                                    | Под ключ с мебелью
                                div.parametrs
                                    | Дом: 
                                    span 680 кв.м. 
                                    | Участок: 
                                    span 28 соток
                                //- <!--div.building-video right">
                                //-     i.video ico_inf">
                                //-         div.iconmobile-a20 ico"></div>
                                //-     </i>
                                //-     span.building-video__count"></span>
                                //- </div>
                                //- div.building-foto right">
                                //-     i.foto ico_inf">
                                //-         div.iconmobile-a34 ico"></div>
                                //-     </i>
                                //-     span.building-foto__count"></span>
                                //- </div>-->
                        div.elite-list__like.c-like(data-action="like" data-obj_id="99296" data-ajax_url="/local/templates/.default/ajax/like.php")
                            i.iconmobile-a17.ico
                    div.elite-list__item
                        div.elite-list__rightb.elite-list__rightb--abs
                            div
                                div.price 8 000 000 $
                                br
                                div.price.price--small 448 635 200 руб.
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/3382/")
                            img(src="/images/content/01m.jpg")
                        </a>
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/3382/")
                            div.elite-list__content
                                div.name ПОС. ДОМА ОТДЫХА УСПЕНСКОЕ (УСПЕНСКИЕ ДАЧИ)
                                div.address
                                    | Направление: Рублево-Успенское
                                    br
                                    | 19 км. от МКАД
                                    br
                                    | Под ключ с мебелью
                                div.parametrs
                                    | Дом: 
                                    span 800 кв.м. 
                                    | Участок: 
                                    span 75 соток
                                //- <!--div.building-video right">
                                //-     i.video ico_inf">
                                //-         div.iconmobile-a20 ico"></div>
                                //-     </i>
                                //-     span.building-video__count"></span>
                                //- </div>
                                //- div.building-foto right">
                                //-     i.foto ico_inf">
                                //-         div.iconmobile-a34 ico"></div>
                                //-     </i>
                                //-     span.building-foto__count"></span>
                                //- </div>-->
                        div.elite-list__like.c-like(data-action="like" data-obj_id="99419" data-ajax_url="/local/templates/.default/ajax/like.php")
                            i.iconmobile-a17.ico
                    div.elite-list__item
                        div.elite-list__rightb.elite-list__rightb--abs
                            div
                                div.price 8 000 000 $
                                br
                                div.price.price--small 448 635 200 руб.
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2545/")
                            img(src="/images/content/1m-_-_i_.jpg")
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2545/")
                            div.elite-list__content
                                div.name ДОВИЛЬ
                                div.address
                                    | Направление: Минское
                                    br
                                    | 10 км. от МКАД
                                    br
                                    | Под ключ с мебелью
                                div.parametrs
                                    | Дом: 
                                    span 682 кв.м. 
                                    | Участок: 
                                    span 23 соток
                                //- <!--div.building-video right">
                                //-     i.video ico_inf">
                                //-         div.iconmobile-a20 ico"></div>
                                //-     </i>
                                //-     span.building-video__count"></span>
                                //- </div>
                                //- div.building-foto right">
                                //-     i.foto ico_inf">
                                //-         div.iconmobile-a34 ico"></div>
                                //-     </i>
                                //-     span.building-foto__count"></span>
                                //- </div>-->
                        div.elite-list__like.c-like(data-action="like" data-obj_id="99593" data-ajax_url="/local/templates/.default/ajax/like.php")
                            i.iconmobile-a17.ico
                    div.elite-list__item
                        div.elite-list__rightb.elite-list__rightb--abs
                            div
                                div.price 8 000 000 $
                                br
                                div.price.price--small 448 635 200 руб.
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4513/")
                            img(src="/images/content/02m.jpg")
                        a(href="http://www.metrium.ru/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4513/")
                            div.elite-list__content
                                div.name ГРИНФИЛД
                                div.address
                                    | Направление: Новорижское
                                    br 
                                    | 23 км. от МКАД
                                    br 
                                    | Под ключ с мебелью
                                div.parametrs
                                    | Дом: 
                                    span 520 кв.м. 
                                    | Участок: 
                                    span 25 соток
                                //- <!--div.building-video right">
                                //-     i.video ico_inf">
                                //-         div.iconmobile-a20 ico"></div>
                                //-     </i>
                                //-     span.building-video__count"></span>
                                //- </div>
                                //- div.building-foto right">
                                //-     i.foto ico_inf">
                                //-         div.iconmobile-a34 ico"></div>
                                //-     </i>
                                //-     span.building-foto__count"></span>
                                //- </div>-->
                        div.elite-list__like.c-like(data-action="like" data-obj_id="100218" data-ajax_url="/local/templates/.default/ajax/like.php")
                            i.iconmobile-a17.ico
        .modal.popup(id="modal_price" tabindex="-1" role="dialog")
            a.c-popup-close.close-popup(href="javascript:void(0);" title="Закрыть" data-dismiss="modal")
                div.iconmobile-a6
            .modal-content.modal-content--form(role="document")
                div.drop-form.drop-form--top.contact-form.bottom-shadow.bottom-shadow--small
                    form.c-ajaxForm(method="POST" action="/local/templates/.default/ajax/sendEmail_myprice.php")
                        div.ajax-form-mess.c-ajax-form-mess
                        div.form-title Предложить свою цену
                        input.form-input(type="hidden" name="type_message" data-validation="required" value="zagorodka")
                        input.form-input(type="hidden" name="template_type" data-validation="required" value="mobile")
                        input.form-input(type="hidden" name="Object_id" data-validation="required" value="<?=$result['OBJECT_ID']?>")
                        input.form-input(type="hidden" name="Object_name" data-validation="required" value="<?=$result['NAME']?>")
                        input.form-input(type="hidden" name="Object_url" data-validation="required" value="<?=$result['DETAIL_PAGE_URL']?>")
                        input.form-input(type="hidden" name="price" data-validation="required" value="<? if ($_REQUEST['section_code'] == 'arenda') { ?>Аренда: <? } ?><?=$price ?>")
                        div
                            div.div_input_my_price
                                input.form-input(type="text" placeholder="Ваше имя" name="OF-name" data-validation="required")
                            div.div_img_my_price
                                img(src="/images/Important.png")
                        div
                            div.div_input_my_price
                                input.form-input(type="text" placeholder="Email" name="OF-email" data-validation="email")
                            div.div_img_my_price
                                img(src="/images/Important.png")
                        div
                            div.div_input_my_price
                                input.form-input(type="text" placeholder="Телефон" name="OF-phone" data-validation="required")
                            div.div_img_my_price
                                img(src="/images/Important.png")
                        div
                            div.div_input_my_price
                                input.form-input(type="number" placeholder="Ваша цена" name="OF-price" data-validation="required")
                            div.div_img_my_price
                                img(src="/images/Important.png")
                        div.adap_from
                            div.form-line.form-line--adap
                                span.type-currency
                                    input(type="radio" id="dollar" name="currency" value="dollar" class="type-currency__input" checked="checked")
                                    label.type-currency__label(for="dollar") $
                                span.type-currency
                                    input(type="radio" id="euro" name="currency" value="euro" class="type-currency__input" checked="checked")
                                    label.type-currency__label(for="euro") €
                                span.type-currency
                                    input(type="radio" id="ruble" name="currency" value="ruble" class="type-currency__input" checked="checked")
                                    label.type-currency__label(for="ruble") Р   
                        div.adap_from
                            div.form-line.form-line--adap
                                textarea.form-input.form-input--textarea(placeholder="Комментарий" name="OF-message")
                            div.form-submit.form-line--adap
                                input.btn.btn--gray.btn--large.c-send-emailNewBuildingOfferPrice(value="Отправить" type="submit" name="callback_form")
        .modal.popup(id="modal_contact" tabindex="-1" role="dialog")
            a.c-popup-close.close-popup(href="javascript:void(0);" title="Закрыть" data-dismiss="modal")
                div.iconmobile-a6
            .modal-content.modal-content--form(role="document")
                div.popup__container
                    div.info-title Контактное лицо
                    div.img_contact
                        img(src="/images/content/man.jpg")
                    div.info_contact
                        div.name Менжунов Илья,
                        div.desc Директор Департамента элитной недвижимости
                        a.phone(href="#" title="") +7 (495) 181-05-32
        .modal.popup(id="modal_elit" tabindex="-1" role="dialog")
            a.c-popup-close.close-popup(href="javascript:void(0);" title="Закрыть" data-dismiss="modal")
                div.iconmobile-a6
            .modal-content.modal-content--form(role="document")
                div.page-content
                    div.project-block
                        div.project-block--content
                            div.tabs__content.c-tabs
                                div.tabs__item.active.c-tabs-item
                                    div.swipe.swipe_popup(style="visibility: visible;")
                                        div.swipe-wrap
                                            div
                                                img(src="images/content/1.jpg" alt="")
                                    div.buttons-slider
                                        a.c-slide_prev_p.slider_prev
                                            div.iconmobile-a41
                                        a.c-slide_next_p.slider_next
                                            div.iconmobile-a42
        include /blocks/footer.jade
