- var title= 'Карточка объекта'

doctype html
html(lang = "ru")
    head
        include /blocks/header-links.jade
    body
        .content
            include /blocks/header.jade
            .elit-detail
                .elit-table
                    .elit-slider
                        h1.page-title.page-title--elit
                            a(href="../" title="Загородная недвижимость") Загородная недвижимость
                        hr
                        .tabs.c-tabs
                            .tabs__content
                                .tabs__item.active.c-tabs-item.c-custom-slider
                                    .zoom-block.zoom-block--small.c-popup-link(href="#popup-fotorama" data-toggle="modal")
                                        i.sprite-icon.zoom-small
                                    .fotorama.fotorama--with-arrows(data-nav="thumbs" data-navwidth="80%" data-arrows="always" data-navposition="bottom" data-width="100%" data-click="true" data-height="600" data-fit="contain" data-thumbheight="70" data-thumbwidth="115" data-thumbmargin="5" data-loop="true")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/993/900_600_1815486afac09fb81635c76cff1b2544f/1.jpg?1486539959529183" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/993/115_76_1815486afac09fb81635c76cff1b2544f/1.jpg?14866278229370" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/bf1/900_600_1815486afac09fb81635c76cff1b2544f/3.jpg?1486539960469479" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/bf1/115_76_1815486afac09fb81635c76cff1b2544f/3.jpg?14866278239574" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/2b9/900_600_1815486afac09fb81635c76cff1b2544f/4.jpg?1486539960558824" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/2b9/115_76_1815486afac09fb81635c76cff1b2544f/4.jpg?148662782410318" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/3af/900_600_1815486afac09fb81635c76cff1b2544f/5.jpg?1486539961442034" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/3af/115_76_1815486afac09fb81635c76cff1b2544f/5.jpg?14866278258274" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/992/900_600_1815486afac09fb81635c76cff1b2544f/6.jpg?1486539962412631" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/992/115_76_1815486afac09fb81635c76cff1b2544f/6.jpg?14866278268730" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/33a/900_600_1815486afac09fb81635c76cff1b2544f/7.jpg?1486539963368481" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/33a/115_76_1815486afac09fb81635c76cff1b2544f/7.jpg?14866278278635" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/fca/900_600_1815486afac09fb81635c76cff1b2544f/8.jpg?1486539964364693" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/fca/115_76_1815486afac09fb81635c76cff1b2544f/8.jpg?14866278288815" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/e16/900_600_1815486afac09fb81635c76cff1b2544f/9.jpg?1486539965437320" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/e16/115_76_1815486afac09fb81635c76cff1b2544f/9.jpg?148662782911161" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/068/900_600_1815486afac09fb81635c76cff1b2544f/10.jpg?1486539966461366" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/068/115_76_1815486afac09fb81635c76cff1b2544f/10.jpg?148662783010999" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/235/900_600_1815486afac09fb81635c76cff1b2544f/11.jpg?1486539966425184" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/235/115_76_1815486afac09fb81635c76cff1b2544f/11.jpg?14866278318913" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/18e/900_600_1815486afac09fb81635c76cff1b2544f/12.jpg?1486539967314085" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/18e/115_76_1815486afac09fb81635c76cff1b2544f/12.jpg?14866278328950" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/5e2/900_600_1815486afac09fb81635c76cff1b2544f/14.jpg?1486539968242283" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/5e2/115_76_1815486afac09fb81635c76cff1b2544f/14.jpg?14866278336396" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/838/900_600_1815486afac09fb81635c76cff1b2544f/15.jpg?1486539969303781" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/838/115_76_1815486afac09fb81635c76cff1b2544f/15.jpg?14866278347360" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/aab/900_600_1815486afac09fb81635c76cff1b2544f/16.jpg?1486539970380502" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/aab/115_76_1815486afac09fb81635c76cff1b2544f/16.jpg?14866278358730" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/77b/900_600_1815486afac09fb81635c76cff1b2544f/17.jpg?1486539971486529" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/77b/115_76_1815486afac09fb81635c76cff1b2544f/17.jpg?148662783711251" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/6a2/900_600_1815486afac09fb81635c76cff1b2544f/21.jpg?1486539972444430" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/6a2/115_76_1815486afac09fb81635c76cff1b2544f/21.jpg?14866278388563" alt="")
                                        a(href="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/4d7/900_600_1815486afac09fb81635c76cff1b2544f/2.jpg?1488449397486077" title="")
                                            img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/4d7/115_76_1815486afac09fb81635c76cff1b2544f/2.jpg?14884493988001" alt="")
                                .tabs__item.c-tabs-item
                                    .map-elit(id="map-elit")
                            .elit-actions-absolute
                                .tabs__links
                                    .photo-block.active.elit-tabs-link.c-tabs-link.c-tabs-link-photo
                                        i.sprite-icon.map-elit
                                        | Фото
                                    .map-block.elit-tabs-link.c-tabs-link.c-tabs-link-map
                                        a.absolute-link.c-map-link(href="" title="" data-map-id="map-elit" data-placemarks-json="/local/components/metrium/zagorodnaya-nedvizhimost.detail/templates/.default/ajax/elite-coordinate.php?lat=55.890016454873&lon=37.393031111084")
                                        i.sprite-icon.map-elit
                                        | На карте
                                .print-block.print-block--white
                                    a.absolute-link(href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4954/pdf/" target="_blank" title="")
                                    i.sprite-icon.pdf-black
                                    | Печать pdf
                                .print-block.print-block--white
                                    a.absolute-link(href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4954/pdf_advanced/" target="_blank" title="")
                                    i.sprite-icon.pdf-black
                                    | Презентация о проекте
                                .print-block.print-block--white.no-scroll-action.c-accordion
                                    .middle-text(style="padding-top: 7px") Отправить PDF на email
                                    a.absolute-link.c-dropdownform__link-custom(href="" title="" id="send-pdf-icon")
                                    .drop-form.drop-form--top.contact-form.bottom-shadow.bottom-shadow--small.c-dropdownform__content-custom.send-pdf
                                        form.c-ajaxForm(action="/local/templates/.default/ajax/pdf-to-email.php" method="post")
                                            .ajax-form-mess.c-ajax-form-mess
                                            .form-title
                                            .form-line
                                                .form-line.form-line--custom
                                                    input.checkbox(type="radio" name="version" id="pdf1" value="simple" checked)
                                                    label.checkbox-label(for="pdf1" data-checked="N")
                                                        span.checkbox-icon.checkbox-icon--radio
                                                        span.checkbox-text Краткая версия
                                                .form-line.form-line--custom
                                                    input.checkbox(type="radio" name="version" id="pdf2" value="advanced")
                                                    label.checkbox-label(for="pdf2" data-checked="N")
                                                        span.checkbox-icon.checkbox-icon--radio
                                                        span.checkbox-text Подробная версия
                                                .form-line
                                                    input.form-input(type="email" id="pdf_email" placeholder="Адрес электронной почты" name="email" data-validation="email")
                                                input(type="hidden" name="id" value="93450")
                                                input(type="hidden" name="code" value="4954")
                                                input(type="hidden" name="type" value="kottedzhi_taunkhausy")
                                                .form-submit.bottom-shadow.bottom-shadow--small.right
                                                    input.btn.btn--gray.btn--large(value="Отправить" type="submit" name="callback_form")
                                .satellite-block.c-fake-tab-active
                                    a.absolute-link.c-map-link(href="" title="" data-type="yandex#satellite" data-map-id="map-elit" data-placemarks-json="/local/components/metrium/zagorodnaya-nedvizhimost.detail/templates/.default/ajax/elite-coordinate.php?lat=55.890016454873&lon=37.393031111084")
                                    i.sprite-icon.satellite
                                    | Спутник
                                .green-block.no-scroll-action.c-accordion
                                    .middle-text Оставить заявку
                                    a.absolute-link.c-dropdownform__link-custom(href="" title="")
                                    .drop-form.drop-form--top.contact-form.bottom-shadow.bottom-shadow--small.c-dropdownform__content-custom
                                        form.c-ajaxForm(action="/local/components/metrium/zagorodnaya-nedvizhimost.detail/templates/.default/ajax/order-processing.php" method="post")
                                            .ajax-form-mess.c-ajax-form-mess
                                            .form-title обратная связь
                                            .form-line
                                                input.form-input(type="text" placeholder="Имя, Фамилия" name="name" data-validation="required")
                                                .form-line
                                                    input.form-input(type="text" placeholder="Телефон" name="phone" data-validation="number")
                                                .form-line
                                                    input.form-input(type="email" placeholder="Адрес электронной почты" name="email" data-validation="email")
                                                .form-line
                                                    textarea.form-input.form-input--textarea(placeholder="Текст заявки" name="message" data-validation="required")
                                                input(type="hidden" name="object_id" value="93450")
                                                .form-submit.bottom-shadow.bottom-shadow--small.right
                                                    input.btn.btn--gray.btn--large(value="Отправить" type="submit" name="callback_form")
                                .like-block.c-like(data-action="" data-obj_id="101315" data-ajax_url="/local/templates/.default/ajax/like.php")
                                    i.sprite-icon.like
                                    i.sprite-icon.like-active
                        hr
                    .elit-info-wrap
                        .building-id
                            .building-id__text ID объекта
                            .building-id__number 4954
                        .elit-info.c-mCustomScrollbar.mCustomScrollbar
                            .obj-name Куркино
                            .obj-direction Направление: Куркинское, 6 км. от МКАД
                            .obj-price.price--dbl
                                .obj-price-block
                                    | 10 000 000 $ 
                                    span.multi-valute 562 307 000 ₽
                                a.clearfix(href="#")
                                    .elite-detail-scb Узнать подробнее
                                //- <!--Предложить свою цену -->
                                .offer-price.c-dropdownform
                                    a.offer-price__link.c-dropdownform__link-custom(href="" title="") Предложить свою цену
                                    .drop-form.c-dropdownform__content-custom
                                        .close-popup.c-aside-close
                                            i.sprite-icon.close-elit
                                        form.c-ajaxForm(method="POST" action="/local/templates/.default/ajax/sendEmail_myprice.php")
                                            .ajax-form-mess.c-ajax-form-mess
                                            .form-title Предложить свою цену
                                            input.form-input(type="hidden" name="type_message" data-validation="required" value="zagorodka")
                                            input.form-input(type="hidden" name="Object_id" data-validation="required" value="93450")
                                            input.form-input(type="hidden" name="Object_name" data-validation="required" value="Куркино")
                                            input.form-input(type="hidden" name="Object_url" data-validation="required" value="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4954/")
                                            input.form-input(type="hidden" name="price" data-validation="required" value="10 000 000 $")
                                            input.form-input(type="hidden" name="price_sale" data-validation="required" value="562 307 000 ₽")
                                            div
                                                .div_input_my_price
                                                    input.form-input(type="text" placeholder="Ваше имя" name="OF-name" data-validation="required")
                                                .div_img_my_price
                                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/Important.png?148118595218526")
                                            div
                                                .div_input_my_price
                                                    input.form-input(type="text" placeholder="Email" name="OF-email" data-validation="email")
                                                .div_img_my_price
                                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/Important.png?148118595218526")
                                            div
                                                .div_input_my_price
                                                    input.form-input.c-input-phone(type="text" placeholder="Телефон" name="OF-phone" data-validation="required")
                                                .div_img_my_price
                                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/Important.png?148118595218526")
                                            div
                                                .div_input_my_price
                                                    input.form-input(type="number" placeholder="Ваша цена" name="OF-price" data-validation="required")
                                                .div_img_my_price
                                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/Important.png?148118595218526")
                                            span.type-currency
                                                input.type-currency__input(type="radio" id="dollar" name="currency" value="dollar" class="" checked="checked")
                                                label.type-currency__label(for="dollar") $
                                            span.type-currency
                                                input.type-currency__input(type="radio" id="euro" name="currency" value="euro" class="" checked="checked")
                                                label.type-currency__label(for="euro") €
                                            span.type-currency
                                                input.type-currency__input(type="radio" id="ruble" name="currency" value="ruble" checked="checked")
                                                label.type-currency__label(for="ruble") Р
                                            textarea.form-input.form-input--textarea(placeholder="Комментарий" name="OF-message")
                                            input.btn.btn--gray.btn--large(value="Отправить" type="submit" name="callback_form" style="margin-top:10px")
                            .clearfix
                            .obj-charact
                                .obj-charact__line
                                    span.obj-charact__term Площадь дома:
                                    | 1100 кв. м
                                .obj-charact__line
                                    span.obj-charact__term Площадь участка:
                                    | 114 соток
                                .obj-charact__line
                                    span.obj-charact__term Охраняемый:
                                    | Да
                                .obj-charact__line
                                    span.obj-charact__term Материал дома:
                                    | Кирпич
                                .obj-charact__line
                                    span.obj-charact__term Отделка:
                                    | Под ключ с мебелью
                                .obj-charact__line
                                    span.obj-charact__term Этажи/уровни:
                                    br
                                    | Цоколь: бассейн, баня на дровах, массажный кабинет, бойлерная, тех помещения
                                    br
                                    | 1 этаж: гардеробная, прихожая, холл, гостевая спальня с гардеробной и с/у, каминная, лифт, кухня, столовая, техническая кухня
                                    br
                                    | 2 этаж: библиотека, бильярдная, хозяйская спальня с с\у и гардеробной, кабинет, две гостевые спальни с с/у, спальня с с/у и гардеробной
                                .obj-charact__line
                                    span.obj-charact__term Коммуникации:
                                    | центральные
                            .obj-add-info.obj-add-info--visible.editable-text
                                p Уникальное предложение!
                                    br
                                    | Шикарный дом на большом красивом участке с видом на гольф-поля!</p>
                            .obj-add-info.editable-text.c-add-text
                                p
                            .contacts
                                .phone
                                    span
                                        .phone_moscow(id="phone_moscowa")
                                            a(href="tel:84992702020" id="comagic_moscow_28") (499) 270-20-20
                                .manager
                                    .manager__image
                                        img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/main/dd5/135_203_1/beb43eea23c6d2f84224d3060fcc0f0a21dbe3f4e1a0f14609_pimgpsh_fullsize_distr.jpg?148644946015207" alt="")
                                    .manager__info
                                        .manager__name Илья Менжунов
                                        .manager__job Директор Департамента элитной недвижимости
                                        .manager__contacts(id="phone_manager_elite")
                                            | 8 (903) 150-35-85
                                            div
                                                a.inherit-link(href="mailto:ilya.menzhunov@metrium.ru" title="Написать менеджеру") ilya.menzhunov@metrium.ru
                                .elite-rss.elite-rss--detail
                                    .rss__title ПОДПИСАТЬСЯ НА ОБНОВЛЕНИЯ
                                    form.rss__form.c-ajaxForm.c-clear_form(action="/ajax.forms.php?FORM=subscribe" method="post")
                                        .ajax-form-mess.c-ajax-form-mess
                                        .bottom-shadow.rss-input.rss-input--small
                                            input.form-input(type="text" name="UF_NAME" placeholder="ФИО" data-validation="required")
                                        .bottom-shadow.rss-input
                                            input.form-input(type="email" name="email" placeholder="Адрес электронной почты" data-validation="email")
                                        .btn--with-shadow.right
                                            input.btn(type="submit" name="subscribe_form" value="ПОДПИСАТЬСЯ" class="" onsubmit="ga('send', 'pageview','/gapodpis '); yaCounter18350230.reachGoal(' podpis ');")
                                        input(type="hidden" name="rubric" value="4")
                                    .clearfix
                        .ya-share2(style="margin-top: -60px; padding: 0 12% 10px; overflow: auto;-webkit-box-sizing: border-box; box-sizing: border-box;" data-services="vkontakte,facebook,odnoklassniki" data-title="Куркино" data-image="http://www.metrium.ru/upload/resize_cache/iblock/540/537_370_1815486afac09fb81635c76cff1b2544f/01_m.jpg" data-description="Мне нравится" data-counter="")
                .objects-similar
                    .page-head
                        .page-title.page-title--elit Похожие объекты на Куркино
                    hr
                    .elit-catalog.clearfix
                        .container.container--elit
                            .elit-item.elit-item--small
                                .building-image
                                    a.absolute-link(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2328/" title="")
                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/e8c/425_263_1815486afac09fb81635c76cff1b2544f/01.jpg?1491473997107758" title="Ландшафт" alt="")
                                .building-info-wrap
                                    .building-info
                                        a.building-name(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2328/" title="Ландшафт") Ландшафт
                                        .building-direction
                                            span.building-direction__label Направление:
                                            | Рублево-Успенское , 8 км. от МКАД
                                        .info-list.building-direction
                                            span.building-direction__label Дом: 
                                            | 680 кв.м. &nbsp;&nbsp;
                                            span.building-direction__label Участок: 
                                            | 28 сот. &nbsp;&nbsp;
                                            span.building-direction__label Под ключ с мебелью
                                        .clearfix
                                            .building-price.left 8 000 000 $
                                            .building-actions.right
                                                //- <!--.building-foto left
                                                //-     i.sprite-icon foto-black</i>
                                                //-     span.building-foto__count</span>
                                                //- </div>
                                                //- .building-video left
                                                //-     i.sprite-icon video-black</i>
                                                //-     span.building-video__count0</span>
                                                //- </div>-->
                                .like-block.c-like(data-action="" data-obj_id="99296" data-ajax_url="/local/templates/.default/ajax/like.php")
                                    i.sprite-icon.like
                                    i.sprite-icon.like-active
                            .elit-item.elit-item--small
                                .building-image
                                    a.absolute-link(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/3382/" title="")
                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/6bc/425_263_1815486afac09fb81635c76cff1b2544f/01m.jpg?149147399799862" title="пос. дома отдыха Успенское (Успенские дачи)" alt="")
                                .building-info-wrap
                                    .building-info
                                        a.building-name(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/3382/" title="пос. дома отдыха Успенское (Успенские дачи)") пос. дома отдыха Успенское (Успенские дачи)
                                        .building-direction
                                            span.building-direction__label Направление: 
                                            | Рублево-Успенское , 19 км. от МКАД
                                        .info-list.building-direction
                                            span.building-direction__label Дом: 
                                            | 800 кв.м. &nbsp;&nbsp;
                                            span.building-direction__label Участок: 
                                            | 75 сот. &nbsp;&nbsp;
                                            span.building-direction__label Под ключ с мебелью
                                        .clearfix
                                            .building-price.left 8 000 000 $
                                            .building-actions.right
                                                //- <!--.building-foto left
                                                //-     i.sprite-icon foto-black</i>
                                                //-     span.building-foto__count</span>
                                                //- </div>
                                                //- .building-video left
                                                //-     i.sprite-icon video-black</i>
                                                //-     span.building-video__count0</span>
                                                //- </div>-->
                                .like-block.c-like(data-action="" data-obj_id="99419" data-ajax_url="/local/templates/.default/ajax/like.php")
                                    i.sprite-icon.like
                                    i.sprite-icon.like-active
                            .elit-item.elit-item--small
                                .building-image
                                    a.absolute-link(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2545/" title="")
                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/4b3/425_263_1815486afac09fb81635c76cff1b2544f/1m-_-_i_.jpg?149147399884860" title="Довиль" alt="")
                                .building-info-wrap
                                    .building-info
                                        a.building-name(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/2545/" title="Довиль") Довиль
                                        .building-direction
                                            span.building-direction__label Направление: 
                                            | Минское , 10 км. от МКАД
                                        .info-list.building-direction
                                            span.building-direction__label Дом: 
                                            | 682 кв.м. &nbsp;&nbsp;
                                            span.building-direction__label Участок: 
                                            | 23 сот. &nbsp;&nbsp;
                                            span.building-direction__label Под ключ с мебелью
                                        .clearfix
                                            .building-price.left 8 000 000 $
                                            .building-actions.right
                                                //- <!--.building-foto left
                                                //-     i.sprite-icon foto-black</i>
                                                //-     span.building-foto__count</span>
                                                //- </div>
                                                //- .building-video left
                                                //-     i.sprite-icon video-black</i>
                                                //-     span.building-video__count0</span>
                                                //- </div>-->
                                .like-block.c-like(data-action="" data-obj_id="99593" data-ajax_url="/local/templates/.default/ajax/like.php")
                                    i.sprite-icon.like
                                    i.sprite-icon.like-active
                            .elit-item.elit-item--small
                                .building-image
                                    a.absolute-link(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4513/" title="")
                                    img(src="//www.metrium.ru.opt-images.1c-bitrix-cdn.ru/upload/resize_cache/iblock/4f9/425_263_1815486afac09fb81635c76cff1b2544f/02m.jpg?149147399965845" title="Гринфилд" alt="")
                                .building-info-wrap
                                    .building-info
                                        a.building-name(target="_blank" href="/zagorodnaya-nedvizhimost/kottedzhi_taunkhausy/4513/" title="Гринфилд") Гринфилд
                                        .building-direction
                                            span.building-direction__label Направление: 
                                            | Новорижское , 23 км. от МКАД
                                        .info-list.building-direction
                                            span.building-direction__label Дом:
                                            | 520 кв.м. &nbsp;&nbsp;
                                            span.building-direction__label Участок:
                                            | 25 сот. &nbsp;&nbsp;
                                            span.building-direction__label Под ключ с мебелью
                                        .clearfix
                                            .building-price.left 8 000 000 $
                                            .building-actions.right
                                                //- <!--.building-foto left
                                                //-     i.sprite-icon foto-black</i>
                                                //-     span.building-foto__count</span>
                                                //- </div>
                                                //- .building-video left
                                                //-     i.sprite-icon video-black</i>
                                                //-     span.building-video__count0</span>
                                                //- </div>-->
                                .like-block.c-like(data-action="" data-obj_id="100218" data-ajax_url="/local/templates/.default/ajax/like.php")
                                    i.sprite-icon.like
                                    i.sprite-icon.like-active
        include /blocks/footer.jade
    .modal.modal--fotorama.popup(id="popup-fotorama" tabindex="-1" role="dialog")
        .modal-content(role="document")
            a.close(href="javascript:void(0);" title="Закрыть" data-dismiss="modal")
            div.popup-fotorama
                div.fotorama.fotorama--with-arrows(data-nav="thumbs" data-navwidth="80%" data-arrows="always" data-width="100%" data-click="false" data-loop="true" data-navposition="bottom"  data-height="650" data-fit="contain" data-thumbheight="70" data-thumbwidth="115" data-thumbmargin="5")
                    a(href="#" title="")
                        img(src="/images/content/1.jpg" alt="")
                    a(href="#" title="")
                        img(src="/images/content/1.jpg" alt="")
                    a(href="#" title="")
                        img(src="/images/content/1.jpg" alt="")
                    a(href="#" title="")
                        img(src="/images/content/1.jpg" alt="")
                    a(href="#" title="")
                        img(src="/images/content/1.jpg" alt="")
                    a(href="#" title="")
                        img(src="/images/content/1.jpg" alt="")
    .modal.popup(id="popup-information" tabindex="-1" role="dialog")
        .modal-content.modal-content--form(role="document")
            div(id="scb_block")
                div(id="scb_inner_tpl")
                    div(id="scb_close_tpl" data-dismiss="modal" closebuttonshow="")
                    div(id="scb_start" style="display: none;")
                        div.scb_titles
                            div
                                br
                            | МЫ ГОТОВЫ ПЕРЕЗВОНИТЬ В УДОБНОЕ ДЛЯ ВАС ВРЕМЯ И ОТВЕТИТЬ НА ВСЕ ВОПРОСЫ.
                        div.scb_bordered
                            span.scb_button(onclick="SCBchange(&#39;YES&#39;);")
                            | Да
                            span.scb_button(onclick="SCBchange(&#39;NO&#39;);" style="margin-right:0;")
                            | Нет
                        div.scb_text(textblockstartabout="") *Звонок бесплатный
                    div(id="scb_yes")
                        div.scb_titles
                            span(style="font-size: 18.6667px; line-height: 19.9733px;")
                                | интересует 
                                span(style="color: #009d7e") загородная недвижимость?
                                | &nbsp;
                            div
                                span(style="font-size: 18.6667px; line-height: 19.9733px; font-weight: lighter;") мы перезвоним вам за&nbsp;
                                span(style="font-size: 18.6667px; line-height: 19.9733px; font-weight: lighter; color: rgb(0, 157, 126);") 27&nbsp;
                                span(style="font-size: 18.6667px; line-height: 19.9733px; font-weight: lighter;") сек
                                span(style="font-weight: lighter; font-size: 18.6667px; line-height: 19.9733px; color: rgb(0, 157, 126);") &nbsp;
                            div
                                span(style="font-size: 18.6667px; line-height: 19.9733px; font-weight: lighter;") и&nbsp;
                                span(style="font-weight: lighter; font-size: 18.6667px; line-height: 19.9733px; color: rgb(0, 157, 126);") предложим лучшие варианты
                                span(style="font-weight: lighter; font-size: 18.6667px; line-height: 19.9733px;") &nbsp;
                        div.scb_bordered
                            input.scb_inputs(type="text" id="scb_phone_input" placeholder="Ваш телефон")
                            input.scb_inputs(type="text" name="popup_name" id="popup_name" placeholder="Ваше имя" style="display:none;")
                            textarea.scb_inputs.noresize(id="visitor_comment" placeholder="Есть вопрос или комментарий? Введите его в это поле..." maxlength="255" rows="3" style="display:none;")
                            div(style="height:45px;")
                                div(id="scb_udobnoe_block" style="display:none;float:left;width:190px;")
                                    span(style="font-size:10pt;line-height:14px;width:60px;min-width:60px;margin-top:3px;margin-right:10px;color:#555555;text-align:right;")
                                    | Удобное время:
                                    br
                                    select.scb_selects(id="scb_udobnoe_hours" onchange="jSCB(&#39;input[name=scb_udobnoe]&#39;).val(jSCB(this).val()+&#39;:&#39;+jSCB(&#39;#scb_udobnoe_minutes&#39;).val())")
                                        option(value="9") 9
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                                        option(value="13") 13
                                        option(value="14") 14
                                        option(value="15") 15
                                        option(value="16") 16
                                        option(value="17") 17
                                        option(value="18") 18
                                        option(value="19") 19
                                        option(value="20") 20
                                    span.scb_hour_caption ч.
                                    select.scb_selects(id="scb_udobnoe_minutes" onchange="jSCB(&#39;input[name=scb_udobnoe]&#39;).val(jSCB(&#39;#scb_udobnoe_hours&#39;).val()+&#39;:&#39;+jSCB(this).val())")
                                        option(value="00" selected="") 00
                                        option(value="15") 15
                                        option(value="30") 30
                                        option(value="45") 45
                                    span.scb_minute_caption мин.
                                    input.scb_inputs(type="hidden" name="scb_udobnoe" value="9:00" style="width:60px;text-align:center;margin-bottom:0px !important;" maxlength="5" onfocus="jSCB(this).mask(&#39;99:99&#39;);")
                                div(id="scb_timer" style="float:left; margin-left:40px;")
                                    span(id="sample_countdown") 27.0
                                    div.scb_prim секунд осталось до звонка
                                span.scb_link(id="scb_udobnoe_link" onclick="jSCB(&#39;#scb_timer&#39;).slideUp(300);jSCB(&#39;#scb_udobnoe_link&#39;).fadeOut(0);setTimeout(function(){jSCB(&#39;#scb_udobnoe_block&#39;).slideDown(500);jSCB(&#39;#scb_timer_link&#39;).fadeIn(0);jSCB(&#39;#scb_timer span&#39;).html(1);}, 500);scbUdVvod = &#39;yes&#39;;") Или укажите удобное время
                                span.scb_link(style="display:none;" id="scb_timer_link" onclick="jSCB(&#39;#scb_udobnoe_block&#39;).slideUp(300);jSCB(&#39;#scb_timer_link&#39;).fadeOut(0);if(SmartCallBack.flags.hiddenCounter == false)jSCB(&#39;#scb_timer span&#39;).html(&#39;27.0&#39;);else jSCB(&#39;#scb_timer span&#39;).html(&#39;1&#39;); setTimeout(function(){if(SmartCallBack.flags.hiddenCounter == false)jSCB(&#39;#scb_timer&#39;).slideDown(500); jSCB(&#39;#scb_udobnoe_link&#39;).fadeIn(0);}, 500);scbUdVvod = &#39;no&#39;;") Позвоните прямо сейчас!
                            span.scb_button.scb_red_button(style="margin-right:0;" id="scb_button_wait" onclick="SCBchange(&#39;TIME_GO&#39;);") Жду звонка
                        div.scb_text(textblockyesabout="")
                            div *Звонок бесплатный
                            div
                                br
                    div(id="scb_no" style="display:none;")
                        div.scb_titles
                            span.scb_sel Не тратьте время 
                            | на изучение сайта!
                            br
                            span.scb_fsize_90
                                span.scb_sel Мы Вам перезвоним бесплатно
                        div.scb_bordered
                            input.scb_inputs(type="text" id="scb_phone_input_no" placeholder=" Ваш телефон ")
                            input.scb_inputs(type="text" name="popup_name_no" id="popup_name_no" placeholder="Ваше имя" style="display:none;")
                            textarea.scb_inputs.noresize(id="visitor_comment_no" placeholder="Есть вопрос или комментарий? Введите его в это поле..." maxlength="255" rows="3" style="display:none;")
                            div(style="height:45px;")
                                div(id="scb_udobnoe_block_no" style="display:none;float:left;width:190px;")
                                    span(style="font-size:10pt;line-height:14px;width:60px;margin-top:3px;margin-right:10px;color:#555555;text-align:right;") Удобное время:
                                    br
                                    select.scb_selects(id="scb_udobnoe_hours_no" onchange="jSCB(&#39;input[name=scb_udobnoe]&#39;).val(jSCB(this).val()+&#39;:&#39;+jSCB(&#39;#scb_udobnoe_minutes_no&#39;).val())")
                                        option(value="9") 9
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                                        option(value="13") 13
                                        option(value="14") 14
                                        option(value="15") 15
                                        option(value="16") 16
                                        option(value="17") 17
                                        option(value="18") 18
                                        option(value="19") 19
                                        option(value="20") 20
                                    span.scb_hour_caption ч.
                                    select.scb_selects(id="scb_udobnoe_minutes_no" onchange="jSCB(&#39;input[name=scb_udobnoe]&#39;).val(jSCB(&#39;#scb_udobnoe_hours_no&#39;).val()+&#39;:&#39;+jSCB(this).val())")
                                        option(value="00" selected="") 00
                                        option(value="15") 15
                                        option(value="30") 30
                                        option(value="45") 45
                                    span.scb_minute_caption мин.
                                    input.scb_inputs(type="hidden" name="scb_udobnoe_no" value="10:00" onkeyup="jSCB(&#39;input[name=scb_udobnoe]&#39;).val(jSCB(this).val());" style="width:60px !important;margin-bottom:0px !important;")
                                div(id="scb_timer_no" style="float:left; margin-left:40px;")
                                    span(id="sample_countdown_no") 27.0
                                    div.scb_prim секунд осталось до звонка
                                span.scb_link(id="scb_udobnoe_link_no" onclick="jSCB(&#39;#scb_timer_no&#39;).slideUp(300);jSCB(&#39;#scb_udobnoe_link_no&#39;).fadeOut(0);setTimeout(function(){jSCB(&#39;#scb_udobnoe_block_no&#39;).slideDown(500);jSCB(&#39;#scb_timer_link_no&#39;).fadeIn(0);jSCB(&#39;#scb_timer_no span&#39;).html(1);}, 500);scbUdVvod = &#39;yes&#39;;") Или укажите удобное время
                                span.scb_link(style="display:none;" id="scb_timer_link_no" onclick="jSCB(&#39;#scb_udobnoe_block_no&#39;).slideUp(300);jSCB(&#39;#scb_timer_link_no&#39;).fadeOut(0);jSCB(&#39;#scb_timer_no span&#39;).html(&#39;27.0&#39;); setTimeout(function(){if(SmartCallBack.flags.hiddenCounter == false)jSCB(&#39;#scb_timer_no&#39;).slideDown(500); jSCB(&#39;#scb_udobnoe_link_no&#39;).fadeIn(0);}, 500);scbUdVvod = &#39;no&#39;;") Позвоните прямо сейчас!
                            span.scb_button.scb_red_button(style="margin-right:0;" id="scb_button_wait" onclick="SCBchange(&#39;TIME_GO&#39;);") Жду звонка
                        div.scb_text(textblocknoabout="") *Звонок бесплатный
                    div(id="scb_time_end" style="display:none;")
                        div.scb_titles
                            span.scb_sel Спасибо 
                            | , нам важно Ваше мнение!
                        div.scb_bordered
                            span.scb_button(onclick="SCBthanks(1);") Спасибо, мне позвонили
                            span.scb_button(style="margin-right:0;" onclick="SCBthanks(2);") Звонка еще не было..
                        div.scb_text(id="scb_thanks_text" textblockthanksabout="") Наши операторы обязательно перезвонят Вам!
                    div.scb_foot_block
                        div.scb_notShow
                            input(type="checkbox" name="SCBnotShow" id="SCBnotShow" onchange="SCBcheckBox();")
                            label(for="SCBnotShow") Не показывать больше
                        div.scb_footer
                            a(href="http://smartcallback.ru/" target="_blank" title="Официальный сайт SmartCallBack.ru") Технология SmartCallBack
        