- var title= 'Главная'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		.content.for-xs
			include /blocks/header.jade
			.videos-main
				.videos-main__container
					.videos-main__item.c-video-item
						video.videos-main__video.c-video(muted)
							source(src="video/AgalarovEstateFlyover.mp4", type="video/mp4")
						.videos-main__images.c-hide-img(style="background: url('images/content/poster-videos.jpg') center no-repeat; background-size: cover;")
						.videos-main__hide-panel.c-text-hide
							.videos-main__panel-inner
								.videos-main__title-item
									| Коттеджи
									| и таунхаусы
								.videos-main__content
									.videos-main__play-btn.c-play-video
										.durationBar
											.positionBar
									.videos-main__descr
										| наслаждайтесь чистым воздухом,
										| живописными видами и тишиной
										| в собственном доме или таунхаусе
									.videos-main__count-offers
										|Более 325 предложений!
									a.videos-main__more-btn(href="cottages.html" title="")
										|Подробнее
					.videos-main__item.c-video-item
						video.videos-main__video.c-video(muted)
							source.c-video-source(src="video/AgalarovEstateFlyover.mp4", type="video/mp4")
						.videos-main__images.c-hide-img(style="background: url('images/content/poster-videos.jpg') center no-repeat; background-size: cover;")
						.videos-main__hide-panel.c-text-hide
							.videos-main__panel-inner
								.videos-main__title-item
									| Посёлки
								.videos-main__content
									.videos-main__play-btn.c-play-video
										.durationBar
											.positionBar
									.videos-main__descr
										| выберите респектабельное соседство
										| в одном из роскошных посёлков
										| пригородов москвы
									.videos-main__count-offers
										| Более 79 предложений!
									a.videos-main__more-btn(href="villages.html" title="")
										| Подробнее
					.videos-main__item.c-video-item
						video.videos-main__video.c-video(muted)
							source.c-video-source(src="video/AgalarovEstateFlyover.mp4", type="video/mp4")
						.videos-main__images.c-hide-img(style="background: url('images/content/poster-videos.jpg') center no-repeat; background-size: cover;")
						.videos-main__hide-panel.c-text-hide
							.videos-main__panel-inner
								.videos-main__title-item
									|Участки
								.videos-main__content
									.videos-main__play-btn.c-play-video
										.durationBar
											.positionBar
									.videos-main__descr
										| собственные участки,
										| где можно возвести резиденцию
										| согласно вашим предпочтениям
									.videos-main__count-offers
										| Более 102 предложений!
									a.videos-main__more-btn(href="areas.html" title="")
										| Подробнее
					.videos-main__item.c-video-item
						video.videos-main__video.c-video(muted)
							source.c-video-source(src="video/AgalarovEstateFlyover.mp4", type="video/mp4")
						.videos-main__images.c-hide-img(style="background: url('images/content/poster-videos.jpg') center no-repeat; background-size: cover;")
						.videos-main__hide-panel.c-text-hide
							.videos-main__panel-inner
								.videos-main__title-item
									| Аренда
								.videos-main__content
									.videos-main__play-btn.c-play-video
										.durationBar
											.positionBar
									.videos-main__descr
										| большое разнобразие
										| загородных резиденций
										| в аренду на различный срок
									.videos-main__count-offers
										| Более 899 предложений!
									a.videos-main__more-btn(href="rents.html" title="")
										| Подробнее

		.tile
			.tile__content
				.tile__sort
					.tile__sort-text
						|сортировать список
					a.tile__sort-btn.c-sort(href="#" title="" data-direction="expensive")
						|дороже → дешевле

				.tile__clear
				.tile__line-content
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										|Санаторий Барвиха
									.tile__info-address
										|Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											|2500 кв. м
										.tile__info-param
											|75 соток
										.tile__info-param
											|Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											|59 000 000 $
										.tile__info-price-two
											|376 573 600 руб.
									.tile__info-id
										|ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart

					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark.tile__special-mark--new-offer.active
								span.tile__special-text
									|Новое предложение
								.tile__special-mark
									span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark.tile__special-mark--special-offer
								span.tile__special-text
									| Специальное предложение
								.tile__special-mark
									span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart

					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart
					.tile__item-clear
					a.tile__item(href="#" title="")
						.tile__item-content
							.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
							.tile__item-info
								.tile__info-content
									.tile__info-name
										| Санаторий Барвиха
									.tile__info-address
										| Рублево-Успенское, 7 км. от МКАД
									.tile__info-params
										.tile__info-param
											| 2500 кв. м
										.tile__info-param
											| 75 соток
										.tile__info-param
											| Под ключ с мебелью
									.tile__info-price
										.tile__info-price-one
											| 59 000 000 $
										.tile__info-price-two
											| 376 573 600 руб.
									.tile__info-id
										| ID объекта: 1944
							.tile__special-mark
								span.tile__icon.icon-heart


					.tile__item-clear
		.content
			.pagination.clearfix
				.pagination__count-result
					a.pagination__text.pagination__text--count
						|Показывать по:
					a.pagination__item.c-pagination-item(href="#" title="" data-content="10")
						|10
					a.pagination__item.active.c-pagination-item(href="#" title="" data-content="20")
						|20
					a.pagination__item.c-pagination-item(href="#" title="" data-content="30")
						|30
					a.pagination__item.c-pagination-item(href="#" title="" data-content="50")
						|50
					a.pagination__item.c-pagination-item(href="#" title="" data-content="100")
						|100
					a.pagination__text.pagination__text--clear(href="#" title="")
						| Сбросить все
				.pagination__pages
					a.pagination__item.active.c-pagination-link(href="#" title="" data-content="1")
						| 1
					a.pagination__item.c-pagination-link(href="#" title="" data-content="2")
						| 2
					a.pagination__item.c-pagination-link(href="#" title="" data-content="3")
						| 3
					a.pagination__item.other.c-pagination-link(href="#" title="" data-content="")
						| ...
					a.pagination__item.c-pagination-link(href="#" title="" data-content="63")
						| 63
					a.pagination__item.c-pagination-link(href="#" title="" data-content="64")
						| 64
					a.pagination__text.pagination__text--next(href="" title="")
						| Следующая
		include /blocks/footer.jade