- var title= 'Список страниц'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		include /blocks/header.jade
		.content

			ul(style="padding-top: 60px; width: 80%; margin: 0 auto; min-height: 400px; display: block; list-style-type: decimal;")
				li(style="display:list-item;")
					a(href="index.html" title="Главная")= 'Главная'
				li(style="display:list-item;")
					a(href="index.html" title="Коттеджи и таунхаусы")= 'Коттеджи и таунхаусы'
				li(style="display:list-item;")
					a(href="index.html" title="Поселки")= 'Поселки'
				li(style="display:list-item;")
					a(href="index.html" title="Участки")= 'Участки'
				li(style="display:list-item;")
					a(href="index.html" title="Аренда")= 'Аренда'
			include /blocks/footer.jade