- var title= 'Посёлки'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		.content.for-xs
			include /blocks/header.jade
			.filter
				.filter__header
					a.filter__header-link(href="cottages.html" title="")
						|Коттеджи и таунхаусы
					a.filter__header-link.active(href="villages.html" title="")
						|Посёлки
					a.filter__header-link(href="areas.html" title="")
						| Участки
					a.filter__header-link(href="rents.html" title="")
						|Аренда
				form.c-filter-form.filter__body.clearfix(method="" action="")
					input.c-detected-map(type="hidden" name="state-map" value="close")
					input(type="hidden" name="type" value="cottages")
					.filter__column
						.filter__block
							.filter__name
								|Площадь дома
							.filter__field
								label.filter__field-label(for="areaFrom")
									|От
								input.input-filter.c-input-filter(type="text" name="areaFrom" id="areaFrom" value="120")
							.filter__field
								label.filter__field-label(for="areaTo")
									|До
								input.input-filter.c-input-filter(type="text" name="areaTo" id="areaTo" value="324")
							.filter__dimension
								|м
								span
									|2
						.filter__block
							.filter__name
								| Расстояние от МКАД
							.filter__field
								label.filter__field-label(for="distanceFrom")
									| От
								input.input-filter.c-input-filter(type="text" name="distanceFrom" id="distanceFrom" value="12")
							.filter__field
								label.filter__field-label(for="distanceTo")
									| До
								input.input-filter.c-input-filter(type="text" name="distanceTo" id="distanceTo" value="15")
							.filter__dimension
								| км
					.filter__column
						.filter__block
							.filter__name
								| Площадь участка
							.filter__field
								label.filter__field-label(for="squareFrom")
									| От
								input.input-filter.c-input-filter(type="text" name="squareFrom" id="squareFrom" value="500")
							.filter__field
								label.filter__field-label(for="squareTo")
									| До
								input.input-filter.c-input-filter(type="text" name="squareTo" id="squareTo" value="550")
							.filter__dimension
								| соток
						.filter__block
							.filter__name
								| Отделка
							.filter__field
								select.input-filter.input-filter--select.c-custom-select(name="facing" id="facing")
									option(value="Без отделки")
										|Без отделки
									option(value="Под ключ")
										|Под ключ
									option(value="Под ключ с мебелью")
										|Под ключ с мебелью
									option(value="Под чистовую отделку")
										| Под чистовую отделку
					.filter__column
						.filter__block
							.filter__name
								| Цена
							.filter__field
								label.filter__field-label(for="priceFrom")
									| От
								input.input-filter.c-input-filter(type="text" name="priceFrom" id="priceFrom")
							.filter__field
								label.filter__field-label(for="priceTo")
									| До
								input.input-filter.c-input-filter(type="text" name="priceTo" id="priceTo")
							.filter__dimension
								| млн USD
						.filter__block.filter__block--range
							.filter__field#price
					.filter__column.filter__column--direction
						.filter__block
							.filter__name
								| Направления
							.filter__field
								a.input-filter.input-filter--dropdown-link.c-dropdown-link(href="#" title="")
									span.c-input-filter-name
										|Выбор направления
										span
											|(12/53)
								.dropdown-content.c-dropdown-content.c-custom-scroll
									.dropdown-inner
										.filter__field--dropdown
											input.custom-checkbox.c-custom-checkbox(type="checkbox" name="direction" id="direction1" value="Алтуфьевское")
											label.custom-label.c-custom-label(for="direction1")
												|Алтуфьевское
										.filter__field--dropdown
											input.custom-checkbox.c-custom-checkbox(type="checkbox" name="direction" id="direction2" value="Боровское")
											label.custom-label.c-custom-label(for="direction2")
												|Боровское
										.filter__field--dropdown
											input.custom-checkbox.c-custom-checkbox(type="checkbox" name="direction" id="direction3" value="Волоколамское")
											label.custom-label.c-custom-label(for="direction3")
												|Волоколамское
										.filter__field--dropdown
											input.custom-checkbox.c-custom-checkbox(type="checkbox" name="direction" id="direction4" value="Дмитровское")
											label.custom-label.c-custom-label(for="direction4")
												|Дмитровское
					.filter__column.filter__column--buttons
						.filter__name
							| Найдено:
							span.count
								|321
						a.filter__button(href="#" title="")
							span.icon.icon-list
							|Показать списком
						a.filter__button.filter__button--map.c-show-on-map(href="#" title="")
							span.icon.icon-location2
							|Показать на карте
				.filter__map.c-filter-map#filter-map
					a.filter__map-open.c-show-on-map(href="#" title="")
						|Смотреть на карте
	.tile
		.tile__content
			.tile__sort
				.tile__sort-text
					| сортировать список
				a.tile__sort-btn(href="#" title="")
					| дороже → дешевле

			.tile__clear
			.tile__line-content
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart

				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark.tile__special-mark--new-offer
							span.tile__special-text
								| Новое предложение
							.tile__special-mark
								span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark.tile__special-mark--special-offer
							span.tile__special-text
								| Специальное предложение
							.tile__special-mark
								span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart

				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart
				.tile__item-clear
				a.tile__item(href="#" title="")
					.tile__item-content
						.tile__item-img(style="background: url(images/content/item-img1.jpg) no-repeat; background-size: cover")
						.tile__item-info
							.tile__info-content
								.tile__info-name
									| Санаторий Барвиха
								.tile__info-address
									| Рублево-Успенское, 7 км. от МКАД
								.tile__info-params
									.tile__info-param
										| 2500 кв. м
									.tile__info-param
										| 75 соток
									.tile__info-param
										| Под ключ с мебелью
								.tile__info-price
									.tile__info-price-one
										| 59 000 000 $
									.tile__info-price-two
										| 376 573 600 руб.
								.tile__info-id
									| ID объекта: 1944
						.tile__special-mark
							span.tile__icon.icon-heart


				.tile__item-clear
		.content
			.pagination.clearfix
				.pagination__count-result
					span.pagination__text.pagination__text--count
						|Показывать по:
					span.pagination__item.active
						|20
					span.pagination__item
						|30
					span.pagination__item
						|50
					span.pagination__item
						|100
					a.pagination__text.pagination__text--clear(href="" title="")
						| Сбросить все
				.pagination__pages
					span.pagination__item.active
						| 1
					span.pagination__item
						| 2
					span.pagination__item
						| 3
					span.pagination__item.other
						| ...
					span.pagination__item
						| 63
					span.pagination__item
						| 64
					a.pagination__text.pagination__text--next(href="" title="")
						| Следующая
		include /blocks/footer.jade